<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<div id="single" class="single">

  {{ partial "header.html" . }}

  {{ partial "hero.html" . }}

  <main class="single-about m-top">
    {{ if in .Params.categories "why" }}
      <div class="container container-flex single-why">
        {{ .Content }}  
      </div>
    {{ end }}
    {{ if in .Params.categories "mission" }}
      <div class="container container-flex single-mission">
        {{ .Content }}  
      </div>
    {{ end }}
    {{ if in .Params.categories "people" }}
      <div class="container container-flex single-people">
        {{ .Content }}
      </div>
      <div class="container container-flex single-people">
        {{ range (where .Site.Pages.ByPublishDate "Type" "=" "about") }}
          {{ if in .Params.tags "people"}}
            {{ partial "people.html" . }}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
    {{ if in .Params.categories "faq" }}
      <div class="container container-flex single-faq">
        {{ .Content }}
      </div>
      <div class="container container-flex single-faq">
        {{ range (where .Site.Pages.ByPublishDate "Type" "=" "about") }}
          {{ if in .Params.tags "faq" }}
            {{ partial "faq.html" . }}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </main>
</div>
<footer class="footer footer--inverse" id="footer">
    {{ partial "footer.html" . }}
</footer>
<!-- /#all -->

<!-- scripts -->
{{ partial "scripts.html" }}

</body>
</html>
