<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Register Now!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    @media screen and (max-width: 620px) {
      div[class="gallery"] {
        display: block !important;
      }
      div[class="item"] {
        width: 100% !important;
      }
    }
  </style>

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@oslcfest">
  <meta name="twitter:title" content="OSLC Fest Nov 2 - 4, 2021">
  <meta name="twitter:description" content="The second conference on OSLC & LinkedData (OSLCFest) is comming, join us!">
  <meta name="twitter:image" content="http://oslcfest.org/images/banner-2021.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="OSLC Fest Nov 2 - 4, 2021" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://oslcfest.org/" />
  <meta property="og:image" content="http://oslcfest.org/images/banner-2021.png" />
  <meta property="og:image:width" content="1200px" />
  <meta property="og:image:height" content="640px" />
  <meta property="og:description" content="The second conference on OSLC & LinkedData (OSLCFest) is comming, join us!" /> 
  
</head>

<body style="font-family: sans-serif; margin: 0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;background-color:white;">
    <tbody>
      <tr>
        <td style="padding:0;">
          <div>
            <div>
              <div>
                <div align="center" style="text-align:center;">
                  <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
                  </table>
                </div>
              </div>
            </div>
          </div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
            <tbody>
              <tr>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
                <td width="750" style="width:518pt;background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div align="center" style="text-align:center;margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <a href="http://oslcfest.org" target="_blank" style="text-decoration: none;">
                            <img data-imagetype="External" src="/images/email/email-banner-2021.png" width="100%" alt="OSLC FEST | Stockholm, Sweden | 2-4 November 2021">
                          </a>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <div>
              <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
                  <tbody>
                    <tr>
                      <td style="background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin:0;">
                            <font face="Times New Roman,serif" size="3">
                              <span style="font-size:12pt;">
                                <font size="1">
                                  <span style="font-size:1pt;">&nbsp;</span>
                                </font>
                              </span>
                            </font>
                          </div>
                        </span>
                      </td>
                      <td width="750" style="width:518pt;background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                            <div style="text-align:center;margin:0 0 12pt 0;">
                              <font face="Calibri,sans-serif" size="5" color="black">
                                <h4 style="font-weight: normal;font-size:18pt; margin-top: 0;">Hello to all OSLC friends around the globe</h4>
                              </font>
                            </div>
                            <div style="margin:0 0 10pt;">
                              <font face="Calibri,sans-serif" color="black" style="font-size:14pt;">We are glad to invite you to the OSLCFest 2020, which will take place virtually on May 18-20, with 2-hour slots each day starting at 14:00 UTC. We have received a wide range of talk proposals from the enterprise OSLC users, vendors, SDK and spec authors. The finalised schedule will soon be available on <a href="http://oslcfest.org" target="_blank">OSLCFest</a> website.</font>
                            </div>
                            <div style="margin:0 0 10pt;">
                              <font face="Calibri,sans-serif" color="black" style="font-size:14pt;">The OSLC project has been working hard to engage the community over the last few years. Starting with a successful <a href="http://oslcfest.org/2018" target="_blank">OSLCFest in 2018</a>, we set out on a course of more open process and a quicker specification development.</font>
                            </div>
                            <div style="margin:0 0 10pt;">
                              <font face="Calibri,sans-serif" color="black" style="font-size:14pt;">Last year we officially <a href="https://open-services.net/news/0903-open-project/" target="_blank">migrated</a> from an org structure with multiple committees, a governing board, and a member section with complex membership options to a simple OSLC Open Project where anyone can join and contribute without barriers or complex committee structures to navigate. Since the migration, the project has published <a href="https://oslc-op.github.io/oslc-specs/specs/cm/change-mgt-spec.html" target="_blank">three different</a> <a href="https://oslc-op.github.io/oslc-specs/specs/rm/requirements-management-spec.html" target="_blank">specification</a> drafts and has even more ambitious goals for 2020!</font>
                            </div>
                            <div style="margin:0 0 10pt;">
                              <font face="Calibri,sans-serif" color="black" style="font-size:14pt;">Please join us for the event on May 18! We will post updates in this forum thread and in the OSLC Open Project <a href="https://lists.oasis-open-projects.org/g/oslc-op/topics" target="_blank">mailing list</a>. Sign up on this forum or subscribe to the mailing list to get those updates.</font>
                            </div>
                            <div style="margin:0 0 10pt;">
                              <font face="Calibri,sans-serif" color="black" style="font-size:14pt;">Best regards,</br>OSLC Open Project contributors</font>
                            </div>
                          </div>
                        </span>
                      </td>
                      <td style="background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin:0;">
                            <font face="Times New Roman,serif" size="3">
                              <span style="font-size:12pt;">
                                <font size="1">
                                  <span style="font-size:1pt;">&nbsp;</span>
                                </font>
                              </span>
                            </font>
                          </div>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
            <tbody>
              <tr>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
                <td width="750" style="width:518pt;background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                      <div>
                        <div style="margin:0;">
                          <font face="Times New Roman,serif" size="3">
                            <span style="font-size:12pt;">
                              <font face="Calibri,sans-serif" size="1" color="black">
                                <span style="font-size:1pt;">&nbsp;</span>
                              </font>
                            </span>
                          </font>
                        </div>
                      </div>
                    </div>
                    <div align="center" style="text-align:center;margin:0;">
                      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border: 1px solid rgb(219, 31, 31);background-color: rgb(232, 67, 67);margin: 0 auto;">
                        <tbody>
                          <tr>
                            <td style="padding:10pt 16pt;">
                              <div align="center" style="text-align:center;margin:0;">
                                <a href="https://www.youtube.com/channel/UCO09R3FGcxbMudDIc3htdKQ" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                                  <font face="Calibri,sans-serif" color="white" style="font-size:13.5pt;">
                                    <b>Watch it live in our youtube channel!</b>
                                  </font>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                      <div>
                        <div style="margin:0;">
                          <font face="Times New Roman,serif" size="3">
                            <span style="font-size:12pt;">
                              <font face="Calibri,sans-serif" size="1" color="black">
                                <span style="font-size:1pt;">&nbsp;</span>
                              </font>
                            </span>
                          </font>
                        </div>
                      </div>
                    </div>
                  </span>
                </td>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>