<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122263710-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-122263710-1');
  </script>
  <meta charset="utf-8">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OSLC Fest</title>

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@oslcfest">
  <meta name="twitter:title" content="OSLC Fest Nov 15 - 17, 2022">
  <meta name="twitter:description" content="The forth conference on OSLC is coming, join us!">
  <meta name="twitter:image" content="https://oslcfest.org/images/banner-2022-1.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="OSLC Fest Nov 15 - 17, 2022" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://oslcfest.org/" />
  <meta property="og:image" content="https://oslcfest.org/images/banner-2022-1.png" />
  <meta property="og:image:width" content="1200px" />
  <meta property="og:image:height" content="640px" />
  <meta property="og:description" content="The forth conference on OSLC is coming, join us!" />

  <!-- Favicon and apple touch icons-->
  <link href="/favicon.ico" rel="shortcut icon" />
  <link href="/favicon.ico" rel="shortcut" />
  <link href="/favicon.ico" rel="icon" />
  <link href="/favicon.png" rel="apple-touch-icon" />
  <link href="/favicon.png" rel="apple-touch-icon-precomposed" />
  <link href="/favicon.ico" rel="image_src" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
    integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

  <!-- own styles -->
  <link href="{{ .Site.BaseURL }}css/oslcfest-2022.css" rel="stylesheet">

  <link rel="alternate" href="{{ " /index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}">

</head>
