.sec-ct-header{
  position: relative;
  height: 200px;
  overflow: hidden;
  color: #fff;
}

.sec-ct-img{
  position: absolute;
  z-index: 10;
  top: -400px;
}

.sec-ct-info{
  position: absolute;
  z-index: 20;
  background: rgba(45, 68, 103, .8);
  width: 100%;
  height: 100%;
  padding: 30px 0px;
}

.sec-ct-info h1{
  text-align: center;
}

.sec-ct-header__content{
  width: 500px;
  margin: auto;
}
