.hero-container{
  background: linear-gradient(to right, #418EEB, #3A659E 14.1%, #375178 26.7%, #495473 35.5%, #C16756 59.5%, #D96B50 67.4%, #D96B50 70.8%, #C87355 77.5%, #49AE7A);
}

.home-texture {
  background-image: url('../img/home-pattern.png');
  background-position: 5px 5px;
}

.hero-container h1,
.hero-container p,
.hero-container a {
  color: #fff;
}

.hero {
  padding: 180px 0;
}

.hero-container .title {
  font-size: 50px;
  font-weight: bold;
}

.hero-container .textline {
  font-size: 22px;
}

.hero-container .headline {
  font-size: 26px;
  margin-top: 25px;
}
