body{
  background: #EFEFEF;
}

.popular-posts,
.popular-networks{
  background: #fff;
  padding: 15px;
  margin-top: 40px;
  box-shadow: 2px 3px 21px -3px rgba(0,0,0,0.54);
  margin-bottom: 40px;
}

.popular-posts h2,
.popular-networks h2{
  margin: 0 0 20px 0;
  font-size: 20px;
}

a.popular-posts__item{
  border-bottom: 3px solid #EFEFEF;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
  color: #3D3D3D;
}

a.popular-posts__item:last-child{
  margin-bottom: 0px;
  border-bottom: none;
}

.popular-posts__item .item__img{
  width: 150px;
  height: 100px;
  overflow: hidden;
}

.popular-posts__item .item__info{
  padding: 0px 10px;
}

.networks-container{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.networks-container a{
  color: #3D3D3D;
  text-decoration: none;
}
