.statistics{
  background: #fff;
}

.statistics__container{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #2D4467;
  justify-content: space-between;
  padding: 40px 0px;
  color: #3D3D3D;
}

.statistics__item {
  width: 20%;
}

.statisctics__title{
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 0
}

.statistics__num{
  font-size:60px;
  font-weight: bold;
  color: #28BD84;
}

.statistics__subtitle{
  font-size: 18px;
  font-weight: light;
  margin-top: 0
}

.statistics__info{
  background: #EFEFEF;
  padding: 20px 0px 45px;
}

.statistics__info .btn{
  margin-top:20px;
}

.statistics__sec--left{
  margin-bottom: 80px;
}

@media screen and (min-width:760px){
  .statistics__container{
    flex-direction: row;
  }

  .statistics__sec--right{
    text-align: right;
    float: right;
  }

  .statistics__sec--left,
  .statistics__sec--right{
    width: 50%;
  }

}
