.error-404{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .container-error{
    .error-number{
      display: flex;
      justify-content: space-around;
      font-size:150px;
      img{
        width: 100px;
      }
    }
    .error-content{
      h1{font-size: 30px;}
      h2{font-size:20px;}
      a{
        color: #737373;
        border:1px solid #737373;
        text-decoration:none;
        padding:5px 15px;
        transition: all 1s ease;
        &:hover{
          background: #737373;
          color:#fff;
        }
      }
    }
  }
}