.about_page {
  .m-top {
    margin-top: 126px;
  }

  .content--section {
    .subtitle {
      margin-bottom: 50px;
    }
  }
}

.supporters--wrap {
  margin-bottom: 30px;
  .type {
    text-align: center;
    color: $oslc-dark-blue;
    font-weight: bold;
  }

  .row--list {
    .item {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 20px 0;
    }
  }
}

.faq {

  .faq__item {
    margin-bottom: 30px;

    .question__title {
      padding: 10px 0;
      &:hover {
        cursor: pointer;
      }
      
      a {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: #2c65bb;
      }
    }

    .answer {
      display: none;

      p {
        line-height: 1.8;
      }
    }
  }
}

@media screen and (max-width: 768px){
}