.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.mission {

  .mission__links {
    background-color: #418EEB;
    display: flex;
    justify-content: center;
    align-content: center;

    .mission__item {
      margin-right: 20px;
      padding: 8px 0;      
      text-transform: uppercase;
      color: #fff;

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        text-decoration: none;
        border-bottom: 4px solid #fff;
      }
    }
  }

  .mission__title {
    padding: 20px 0;
    text-align: center;
  }

  .mission__slogan {
    font-style: italic;
    text-align: center;
  }

  .about__title {
    text-align: center;
  }
}

.people {

  .people__picture {
    width: 125px;
    margin: 10px 0;
  }

  .people__title, .people__headline {
    text-align: center;
    margin: 20px 0;
  }

  .people__name, .people__position {
    margin: 5px 0;
  }
}

/* not used, keeping around for reference - carousel styles */
.organizations {

  .carousel {
    background-color: #D96B50;
    padding: 20px 0;
    color: #fff;

    .carousel__title {
      margin-bottom: 30px;
      text-align: center;
    }

    .carousel__content {

      .carousel__item {

        .carousel__left, .carousel__right {
          display: inline-block;
          vertical-align: top;
        }

        .carousel__left {
          width: 20%;
          margin-left: 20px;

          .carousel__name, .carousel__position {
            margin: 0;
            text-align: center;
          }

          .carousel__picture {
            max-width: 100px;
            border-radius: 50%;
            margin: 0 auto;
          }
        }

        .carousel__right {
          width: 70%;

          .carousel__description{
            blockquote {
              border: 0;
            }
          }
        }
      }

      .owl-nav {
        .owl-prev, .owl-next {
          display: inline-block;
          transform: translateY(-130px);
          font-size: 50px;

          i {
            font-style: normal;
            font-weight: lighter;
          }
        }

        .owl-prev {
          float: left;
        }

        .owl-next {
          float: right;
        }
      }
    }
  }
}

.brands {
  background-image: url(../img/about-pattern.png);

  .brands__title {
    text-align: center;
    margin: 20px 0;
  }

  .brands__row {
    display: flex;
    justify-content: center;
    align-content: center;

    .brand__item {
      display: inline-block;
      margin: 10px;

      img {
        filter: grayscale(100%);
      }
    }
  }
}

.faq {
  background-color: #3d3d3d;
  color: #fff;
  padding: 40px 0 80px;

  .faq__title {
    text-align: center;
  }

  .questions {

    .question__item {

      .question__title {
        border-bottom: 1px solid #fff;
        padding: 10px 0;

        a{
          color: #fff;
          font-size: 16px;
          text-decoration: none;
        }
      }

      .question__answer {
        padding: 10px 0;
      }
    }
  }
}

.single-about {
  margin-top: 120px;
  line-height: 1.6;

  .why-active .why--item,
  .mission-active .mission--item,
  .people-active .people--item,
  .faq-active .faq--item{
    border-bottom: 4px solid #fff;
  }

  .sec-header{
    position: relative;
    height: 300px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
  
    .sec-info{
      position: absolute;
      z-index: 20;
      width: 100%;
      height: 100%;
      padding: 30px 0px;
  
      h1{
        text-align: center;
      }
  
      .sec-header__content{
        padding: 0 8px;
        text-align: center;
      }
    }
  }

  .container.single-why,
  .container.single-mission,
  .container.single-people,
  .container.single-faq {
    padding: 25px 0;
  }
}