.hero-container{
  background: linear-gradient(to right, $oslc-light-blue, #3A659E 14.1%, $oslc-dark-blue 26.7%, #495473 35.5%, #C16756 59.5%, $oslc-orange 67.4%, $oslc-orange 70.8%, #C87355 77.5%, #49AE7A);

  .home-texture {
    background-image: url('../img/home-pattern.png');
    background-position: 5px 5px;

    .hero {
      padding: 112px 0;

      h1, p, a {
        color: $white;
      }

      .title {
        font-size: 50px;
        margin: 10px 0;
        text-align: center;
      }

      .textline {
        margin-top: 0;
        font-size: 18px;
        text-align: center;
      }

      .headline {
        font-size: 22px;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

.section--benefits {

  .container {
    width: 1300px;
    max-width: 1300px;
  }

  .benefits_grid {
    display: flex;

    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 40px 20px;

      i {
        font-size: 45px;
        color:#4690FF;
      }

      .benefit--title {
        color: #04002B;
        font-weight: normal;
        text-align: center;
        font-size: 25px;
      }

      .benefit--paragraph {
        text-align: center;
        font-size: 18px;
        margin-top: 0;
      }
    }
  }
}

.section--understand {
  box-shadow: 0 -1px 2px rgba(0,0,0,0.16);
  padding-top: 50px;

  .understand--intro {
    font-size: 20px;
    text-align: center;
  }

  .understand--split {
    display: flex;
    padding: 80px 0;

    .document-web, .data-web {
      width: 50%;
      padding: 30px 0 50px;

      h3 {
        text-align: center;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 40px;
      }

      .info--section {
        display: flex;

        .info--col {
          flex: 2;
          
          display: flex;
          align-items: center;

          &.bigger {
            flex: 4;
          }

          img {
            width: 55%;
            height: 100%;
            display: block;
          }

          p {
            font-size: 18px;
          }
          
          &:nth-child(even) {
            justify-content: flex-end;
          }
        }
      }
    }

    .document-web {
      box-sizing: border-box;
      border-right: 1px solid $light-border;
      padding-right: 60px;
    }

    .data-web {
      padding-left: 60px;
    }
  }
}

.section--intro {
  display: block;

  .intro {
    display: flex;
    flex-direction: column;
    padding: 50px 0 70px;
    background: $white;

    &:nth-child(odd) {
      background: -moz-linear-gradient(275deg, $oslc-light-blue 0%, #4b5ad9 50%, $oslc-dark-blue 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(275deg, $oslc-light-blue 0%,#4b5ad9 50%,$oslc-dark-blue 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(175deg, $oslc-light-blue 0%,#4b5ad9 50%,$oslc-dark-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;

      .headline {
        color: white;
      }

      .intro--paragraph {
        color: white;
      }
    }

    .headline {
      margin-bottom: 50px;
    }

    .intro--paragraph {
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
    }

    .intro--button {
      margin: 50px 0 15px;
      display: flex;
      justify-content: center;
    }
  }
}

.resources {
  color: $white;

  .resources-top {
    background-color: #2D4467;
    padding: 50px;
    display: block;
    text-decoration: none;
    color:$white;
  }

  .resources__subtext {
    max-width: 720px;
  }

  a {
    color: #D96250;
  }

  .resource {
    padding: 50px;
    height: 300px;
    text-align: center;

    &.resource-tutorials {
      background-color: $oslc-light-blue;
    }

    &.resource-articles {
      background-color: $oslc-dark-blue;
    }

    &.resource-presentations {
      background-color: $oslc-orange;
    }

    &.resource-videos {
      background-color: $oslc-green;
    }
  }

  .resource-title {
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 3px solid $white;
    display: block;
    width: 175px;
    margin: 30px auto 20px;
  }

  .col-lg-3, .col-md-3, .col-sm-6, .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

.news{
  background: #EFEFEF;
  padding: 50px 0px;

  .headline {
    margin-bottom: 50px;
  }

  .news__container{
    display: flex;
    flex-direction: column;
    margin: 20px 5% 0;
    justify-content: space-evenly;

    .news__item{
      background: $white;
      margin-bottom:20px;

      .news__image {
        width: 100%;
        height: 180px;
        overflow: hidden;
        position: relative;

        img{
          width: 100%;
          height: auto;
        }

        .new__title{
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 1px;
          
          a {
            color:$white;
            text-shadow: 0 1px 2px rgba(0,0,0,0.6);
          }
        }
      }

      .new__info{
        padding: 0 15px 10px;

        .new__date {
          font-style: italic;
          line-height: 3;
        }
      }
    }
  }
}

@media screen and (min-width:769px){
  .news {

    .news__container{
      flex-direction: row;
      margin-bottom:40px;
      flex-wrap: wrap;

      .news__item{
        width: 19%;
        margin-right: 0px;
        margin-bottom: 25px;
        border: 1px solid #CECECE;
        -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.22);
        -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.22);
        box-shadow: 1px 1px 3px rgba(0,0,0,0.22);

        .news__image {
          width: 100%;
          height: 180px;
          overflow: hidden;

          img{
            width: 100%;
            height: auto;
          }
        }

        .new__info{
          color: $black;

          // .new__content {
          //   height: 142px;
          //   overflow: hidden;
          // }
        }
      }
    }
  }
}

@media screen and (max-width:769px) {
  .hero-container {
    .home-texture {
      .hero {
        padding: 20px 0 40px;

        .title {
          font-size: 44px;
        }

        .textline {
          font-size: 20px;
        }

        .headline {
          margin-top: 10px;
        }
      }
    }
  }

  .section--benefits {
    .container {
      width: 100%;
    }

    .benefits_grid {
      flex-direction: column;
    }
  }

  .news {
    .news__container {
      justify-content: center;
      margin: 20px 0 0;
      
      .news__item {
        width: 100%;
      }
    }
  }
}