.hero-container{
  background: linear-gradient(to right, $oslc-light-blue, #3A659E 14.1%, $oslc-dark-blue 26.7%, #495473 35.5%, #C16756 59.5%, $oslc-orange 67.4%, $oslc-orange 70.8%, #C87355 77.5%, #49AE7A);

  .home-texture {
    background-image: url('../img/home-pattern.png');
    background-position: 5px 5px;

    .hero {
      padding: 112px 0;

      h1, p, a {
        color: $white;
      }

      .title {
        font-size: 50px;
        margin: 10px 0;
        text-align: center;
      }

      .textline {
        margin-top: 0;
        font-size: 18px;
        text-align: center;
      }

      .headline {
        font-size: 22px;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

.section--benefits {

  .container {
    width: 1300px;
    max-width: 1300px;
  }

  .benefits_grid {
    display: flex;

    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 40px 20px;

      i {
        font-size: 45px;
        color:#4690FF;
      }

      .benefit--title {
        color: #04002B;
        font-weight: normal;
        text-align: center;
        font-size: 25px;
      }

      .benefit--paragraph {
        text-align: center;
        font-size: 18px;
        margin-top: 0;
      }
    }
  }
}

.homepage--section {
  padding: 50px 0 70px;

  &.white {
    background: $white;
  }

  &.gray {
    background: $gray-background;
  }
  
  &.light-blue-gradient {
    background: -moz-linear-gradient(275deg, $oslc-light-blue 0%, $purple 50%, $oslc-dark-blue 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(275deg, $oslc-light-blue 0%,$purple 50%,$oslc-dark-blue 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(175deg, $oslc-light-blue 0%,$purple 50%,$oslc-dark-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
    
    .headline, .subtitle, p, span {
      color: $white;
    }
  }

  &.dark-blue-gradient {
    background: -moz-linear-gradient(275deg, $oslc-dark-blue 0%, $black-blue 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(275deg, $oslc-dark-blue 0%, $black-blue 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(175deg, $oslc-dark-blue 0%, $black-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;

    .headline, .subtitle, .column--item, p, span {
      color: $white;
    }
  }

  .headline {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 40px;
    font-weight: normal;
    text-align: center;
  }

  .subtitle {
    font-size: 20px;
    text-align: center;
  }

  .section--split {
    display: flex;
    flex-wrap: wrap;

    margin-top: 80px;

    .column--item {
      width: 50%;
      box-sizing: border-box;
      padding: 50px 0;

      &:nth-child(odd) {
        padding-right: 50px;
        border-right: 1px solid $light-border;
      }

      &:nth-child(even) {
        padding-left: 50px;
      }

      .column--title {
        margin-top: 0;
        margin-bottom: 50px;

        text-align: center;
        font-size: 30px;
      }

      .item--content {
        display: flex;
        flex-direction: column;

        .item--image {
          width: 100%;
          align-self: center;

          &.one-fifth {
            width: 20%;
          }

          &.half {
            width: 50%;
          }

          &.three-fifths {
            width: 60%;
          }

          &.four-fifths {
            width: 80%;
          }

          &.nine-tenths {
            width: 90%;
          }

          img {
            display: block;
            width: 100%;
          }
        }
        
        .item--text {
          margin-top: 35px;

          font-size: 18px;
          text-align: center;
        }
      }
    }
  }

  .info--button {
    margin: 50px 0 15px;
    display: flex;
    justify-content: center;
  }
}

.section--understand {
  .section--split .column--item {
    padding: 50px 0 200px;

    &:last-child, &:nth-last-child(2) {
      padding-bottom: 80px;
    }

    .item--content{
      .mashup_applications {
        margin-top: 9px;
  
        a {
          color: $oslc-light-blue;
        }
      }
    }
  }
}

.section--supporters {
  .supporters--list {
    display: flex;
    justify-content: space-between;

    margin: 100px 0;

    .supporter {
      width: 15%;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .info--button {
    margin-top: 20px;
  }
}

.section--why, .section--supporters {

  .intro--paragraph {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }
}

.resources {
  color: $white;

  .resources-top {
    background-color: #2D4467;
    padding: 50px;
    display: block;
    text-decoration: none;
    color:$white;
  }

  .resources__subtext {
    max-width: 720px;
  }

  a {
    color: #D96250;
  }

  .resource {
    padding: 50px;
    height: 300px;
    text-align: center;

    &.resource-tutorials {
      background-color: $oslc-light-blue;
    }

    &.resource-articles {
      background-color: $oslc-dark-blue;
    }

    &.resource-presentations {
      background-color: $oslc-orange;
    }

    &.resource-videos {
      background-color: $oslc-green;
    }
  }

  .resource-title {
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 3px solid $white;
    display: block;
    width: 175px;
    margin: 30px auto 20px;
  }

  .col-lg-3, .col-md-3, .col-sm-6, .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

.section--news{

  .news__container{
    display: flex;
    flex-direction: column;
    margin: 20px 5% 0;
    justify-content: space-evenly;

    .news__item{
      background: $white;
      margin-bottom:20px;

      .news__image {
        width: 100%;
        height: 180px;
        overflow: hidden;
        position: relative;

        img{
          width: 100%;
          height: auto;
        }

        .new__title{
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 1px;
          
          a {
            color:$white;
            text-shadow: 0 1px 2px rgba(0,0,0,0.6);
          }
        }
      }

      .new__info{
        padding: 0 15px 10px;

        .new__date {
          font-style: italic;
          line-height: 3;
        }
      }
    }
  }
}

@media screen and (min-width:769px){
  .section--news {

    .news__container{
      flex-direction: row;
      margin-bottom:40px;
      flex-wrap: wrap;

      .news__item{
        width: 19%;
        margin-right: 0px;
        margin-bottom: 25px;
        border: 1px solid #CECECE;
        -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.22);
        -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.22);
        box-shadow: 1px 1px 3px rgba(0,0,0,0.22);

        .news__image {
          width: 100%;
          height: 180px;
          overflow: hidden;

          img{
            width: 100%;
            height: auto;
          }
        }

        .new__info{
          color: $black;

          // .new__content {
          //   height: 142px;
          //   overflow: hidden;
          // }
        }
      }
    }
  }
}

@media screen and (max-width:769px) {
  .hero-container {
    .home-texture {
      .hero {
        padding: 20px 0 40px;

        .title {
          font-size: 44px;
        }

        .textline {
          font-size: 20px;
        }

        .headline {
          margin-top: 10px;
        }
      }
    }
  }

  .section--benefits {
    .container {
      width: 100%;
    }

    .benefits_grid {
      flex-direction: column;
    }
  }

  .section--news {
    .news__container {
      justify-content: center;
      margin: 20px 0 0;
      
      .news__item {
        width: 100%;
      }
    }
  }
}