.section--benefits {

  .container {
    width: 1300px;
    max-width: 1300px;
  }

  .benefits_grid {
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;

    .benefit--item {
      width: 33.3%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 40px 20px;

      i {
        font-size: 45px;
        color: $oslc-light-blue;
      }

      .item--title {
        color: #04002B;
        font-weight: normal;
        text-align: center;
        font-size: 22px;
      }

      .item--paragraph {
        text-align: center;
        font-size: 16px;
        margin-top: 0;
      }
    }
  }  
}

.section--specs {
  img {
    width: 60%;
    display: block;
    margin: 50px auto 70px;
  }
}

.section--understand {
  .section--split .column--item {
    padding: 50px 0 200px;

    &:last-child, &:nth-last-child(2) {
      padding-bottom: 80px;
    }

    .item--content{
      .mashup_applications {
        margin-top: 9px;
  
        a {
          color: $oslc-light-blue;
        }
      }

      .note {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        .url-icon {
          color: $oslc-light-blue;
          font-size: 20px;
          margin-left: 5px;
        }
      }
    }
  }
}

.section--supporters {
  .supporters--list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 60px 0;

    .supporter {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 20px 0;

      img {
        padding: 0 10%;
        display: block;
        width: 100%;

        &.full {
          width: 100%;
        }
        &.ninety-five {
          width: 95%;
        }
        &.ninety {
          width: 90%;
        }
        &.eighty-five {
          width: 85%;
        }
        &.eighty {
          width: 80%;
        }
        &.seventy-five {
          width: 75%;
        }
        &.seventy {
          width: 70%;
        }
        &.sixty-five {
          width: 65%;
        }
        &.sixty {
          width: 60%;
        }
        &.fifty-five {
          width: 55%;
        }
        &.fifty {
          width: 50%;
        }
      }
    }
  }

  .info--button {
    margin-top: 20px;
  }
}

.section--why, .section--supporters {

  .intro--paragraph {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }
}

.resources {
  color: $white;

  .resources-top {
    background-color: #2D4467;
    padding: 50px;
    display: block;
    text-decoration: none;
    color:$white;
  }

  .resources__subtext {
    max-width: 720px;
  }

  a {
    color: #D96250;
  }

  .resource {
    padding: 50px;
    height: 300px;
    text-align: center;

    &.resource-tutorials {
      background-color: $oslc-light-blue;
    }

    &.resource-articles {
      background-color: $oslc-dark-blue;
    }

    &.resource-presentations {
      background-color: $oslc-orange;
    }

    &.resource-videos {
      background-color: $oslc-green;
    }
  }

  .resource-title {
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 3px solid $white;
    display: block;
    width: 175px;
    margin: 30px auto 20px;
  }

  .col-lg-3, .col-md-3, .col-sm-6, .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

.section--news{

  .news__container{
    display: flex;
    flex-direction: column;
    margin: 20px 5% 0;
    justify-content: space-between;

    .news__item{
      background: $white;
      margin-bottom:20px;
      -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
      -moz-box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
      box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);

      .news__image {
        display: flex;
        align-items: center;
        background: $oslc-dark-blue;

        width: 100%;
        height: 100px;
        overflow: hidden;
        position: relative;

        img{
          width: 100%;
          height: auto;
        }

        .new__title{
          padding: 0 15px;
          
          a {
            color:$white;
            text-shadow: 0 1px 2px rgba(0,0,0,0.6);
          }
        }
      }

      .new__info{
        padding: 0 15px 10px;

        .new__date {
          font-style: italic;
          line-height: 3;
        }
      }
    }
  }

  .info--button {
    margin-bottom: 60px;
  }
}

@media screen and (min-width:769px){
  .section--news {

    .news__container{
      flex-direction: row;
      margin: 60px 0 40px;
      flex-wrap: wrap;

      .news__item{
        width: 22%;
        margin-right: 0px;
        margin-bottom: 25px;

        .news__image {
          width: 100%;
          height: 100px;
          overflow: hidden;

          img{
            width: 100%;
            height: auto;
          }
        }

        .new__info{
          color: $black;

          // .new__content {
          //   height: 142px;
          //   overflow: hidden;
          // }
        }
      }
    }
  }
}

@media screen and (max-width:769px) {
  .hero-container {
    .home-texture {
      .hero {
        height: 250px;

        .title {
          font-size: 30px;
        }

        .textline {
          font-size: 20px;
        }

        .headline {
          margin-top: 10px;
        }
      }
    }
  }

  .section--benefits {
    .container {
      width: 100%;
    }

    .benefits_grid {
      flex-direction: column;

      .benefit--item {
        width: 100%;
        padding: 20px 0 20px;
      }
    }
  }

  .section--understand {
    .section--split {
      .column--item {
        padding: 50px 0 20px;
      }
    }
  }

  .section--specs {
    p {
      text-align: justify;
    }

    img {
      width: 100%;
    }
  }

  .section--supporters {
    .supporters--list {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      margin: 50px 0;

      .supporter {
        width: 40%;
        margin: 10px 0;
      }
    }
  }

  .section--news {
    .news__container {
      justify-content: center;
      margin: 20px 0 0;
      
      .news__item {
        width: 100%;
      }
    }

    .info--button {
      margin-bottom: 0;
    }
  }
}