.sec-rs-header{
  position: relative;
  height: 300px;
  color: $white;
  background-image: url("../img/resource-hero.jpg");
  background-size: cover;
  background-position: bottom;

  .sec-rs-info{
    position: absolute;
    z-index: 20;
    background: linear-gradient(to bottom, rgba(55,8,108,0.67), rgba(22,6,55,0.67));
    width: 100%;
    height: 100%;
    padding: 30px 0px;

    h1{
      text-align: center;
    }

    .sec-rs-header__content{
      padding: 0 8px;
    }
  }
}

.rs-search{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background : $white;
  padding: 20px 20px;
  position: relative;
  top: -25px;
  z-index: 20;
  border-radius: 5px;

  &::before, &::after {
    content: none;
  }

  .rs-search__item{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 15px;

    input{
      width: 100%;
      border-radius: 0;
      border:1px solid $dark-purple;
      color: $dark-purple;
      background: none;
      line-height: 2;
      padding: 0px 10px;
      font-size: 16px;
    }

    select{
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      -moz-appearance: none;
      -moz-border-radius: 0px;
      width: 100%;
      border-radius: 0;
      border:1px solid $dark-purple;
      color: $dark-purple;
      background: none;
      height: 34px;
      padding: 0px 10px;
      font-size: 16px;
    }

    span{
      position: absolute;
      right: 28px;
      top:8px;
      color: $dark-purple;
      pointer-events: none;
    }

    label{
      font-size: 10px;
      color: $dark-purple;
      position:absolute;
      background: $white;
      padding: 0 7px;
      top:-7px;
      left: 15px;
      font-weight: normal;
    }
  }
}

.resources--list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .resource--item{
    width: 31.3%;
    margin: 0 1%;
    margin-bottom: 30px;
    padding: 6px;
    background: $white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.24);
    position:relative;
    transition: all 300ms ease-in-out;
    height: 348px;

    .resource--header{
      color: $white;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      height: 100px;
      
      text-transform: uppercase;
      transition: all 300ms ease-in-out;

      span {
        font-size: 40px;
        opacity: 0.7;
        transition: all 300ms ease-in-out;
      }

      .resource--type {
        margin: 10px 0 0;
        transition: all 300ms ease-in-out;
      }

      &.blue {
        background: $oslc-light-blue;
      }

      &.dark-blue {
        background: $oslc-dark-blue;
      }

      &.green {
        background: $oslc-green;
      }

      &.dark-green {
        background: #0a6743;
      }

      &.orange {
        background: $oslc-orange;
      }

      &.light-orange {
        background: #E2866F;
      }

      &.gray {
        background: $black;
      }

      &.wine {
        background: #6c0808;
      }
    }

    .resource--info{
      overflow: hidden;
      height: 140px;
      box-shadow: inset 0 -10px 10px -10px #FFF;
      transition: all 300ms ease-in-out;
      
      &::after{
        content:"";
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        position:absolute;
        bottom: 0;
        left: 0;
        transition: all 300ms ease-in-out;
      }
      
      p{
        position: relative;
        margin-top: 5px;
        margin-bottom: 0;
      }
    }

    .resource--content{
      padding: 0px 10px;
      position:relative;

      

      .resource--title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-height: 30px;
        margin-bottom: 0;
      }
    }

    &:hover{
      .resource--header {
        height: 50px;

        span {
          margin-top: 20px;
          font-size: 120px;
          opacity: 0.4;
        }
      }

      .resource--info {
        height: 184px;

        &::after {
          height: 30px;
        }
      }

      .resource--type,
      .resource--author-date{      
        opacity: 0; 
      }
      .resource--buttons{      
        opacity: 1; 
      }
    }

    .resource--author-date{
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      color: #B8B8B8;
      bottom: 20px;
      position:absolute;
      width: calc(100% - 10px);
      
      opacity: 1;      
      transition: all 300ms ease-in-out;
    }

    .resource--buttons{
      display: flex;
      justify-content: center;
      position: absolute;
      padding: 0 10px;
      width: calc(100% - 10px);
      bottom: 14px;
      
      opacity: 0;
      transition: all 400ms ease-in-out;
    }
  }
}

.workgroup-small-item {
  height: 240px !important; 

  .sm-header--wg{
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
  
    span {
      font-size: 40px;
      opacity: 0.7;
    }
  
    h3 {
      margin: 10px;
      font-size: 20px !important;
    }
  }

  .sm-info {
    padding-top: 10px !important;
    height: 60px !important;
  }
  
  &:first-child .sm-header--wg { background: $oslc-light-blue !important; }
  
  &:nth-child(odd) .sm-header--wg {background: $oslc-green; }
  
  &:nth-child(even) .sm-header--wg {background: $oslc-orange; }
  
  &:last-child .sm-header--wg {background: $black; }
}

@media screen and (min-width: 769px){
  .rs-search{
    flex-direction: row;

    .rs-search__item{
      width: 57%;
      margin-bottom: 0px;
      padding:0px;

      &:nth-child(2){
        width: 10%;
      }

      &:last-child {
        width: 27%;
      }

      span{
        right:11px;
      }
    }
  }
}

.resource-post {
  position: relative;

  .post.no-tutorial {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .search-found {
    text-decoration: underline;
  }

  .sidebar-post {
    width: 22%;
    position: fixed;
    top: 94px;
    left: 0;
    display: inline-block;
    background-color: #0B1E3A;
    color: $white;
    height: 1000px;
    padding: 1em 1em 4em;
    vertical-align: top;

    .search {

      input {
        width: 100%;
        background-color: #0B1E3A;
        color: $white;
        padding: 0.75em 0.5em;
      }
    }

    .table-of-contents {
      padding: 1em 0;

      ul {
        padding: 0;
        list-style: none;

        a + ul {
          display: none;
          transition: 0.1s linear;
        }

        a {
          color: $white;
        }

        a:hover {
          color: $oslc-light-blue;
          text-decoration: none;
        }

        a:focus {
          color: $oslc-light-blue;
        }

        li {
          padding: 0.75em 0.2em;

          ul {
            padding-left: 1em;
          }
        }

      }
    }
  }
  .focus {
    display: block;
    color: $white;
  }

  .post.tutorial {
    width: 70%;
    margin-left: 22%;
    display: inline-block;
    padding: 0 2em;
    vertical-align: top;

    img {
      width: 100%;
    }
  }

  .post__footer {
    .post__share {
      display: block;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px){
  .rs-search {
    border-radius: 0;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    margin-bottom: 15px;

    .rs-search__item {
      padding: 0;

      &:nth-child(1) {
        width: 70%;
      }

      &:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        width: 30%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        right: 10px;
      }
    }
  }

  .resource-post {
    .post{
      &.no-tutorial {
        width: 90%;
      }

      &.tutorial {
        margin-left: 0;
        width: 100%;
        padding: 0 5%;
      }
    }
    
    .sidebar-post {
      display: none;
    }
  }

  .resources--list {
    .resource--item {
      width: 100%;
    }
  }
}