.footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;

  &.footer--inverse {
    box-shadow: 0 -1px 2px rgba(0,0,0,0.16);

    .footer-nav {
      background-color: $white;
      color: $black;

      .footer__links {
        a {
          color: $black;
        }
        .footer__item {
          span {
            color: $black;
          }
        }
      }
    }
  }

  .footer-nav {
    background-color: $black;
    color: $white;
    padding: 10px 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .footer__links {
      display: flex;
      justify-content: center;
      align-content: center;

      .footer__item {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        color: #efefef;

        span {
          color: #efefef;
        }
      }

      .footer__item--social {
        a {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      padding: 10px 0;
      
      p {
        margin: 0;
      }
    }
  }
}
