.oasis-header {
  background: #232323;
  position: fixed;
  top: 0;
  z-index: 99;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  width: 100%;

  img {
    height: 27px
  }
}

header{
  transition: 250ms all ease-in-out;
  background: $white;
  position: fixed;
  width: 100%;
  top: 27px;
  z-index: 99;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;

    &::before,&::after {
      content: none;
    }


    a {
      line-height: 0;
    }

    .nav__logo{
      display: inline-block;
  
      img{
        transition: 250ms height ease-in-out;
        height: 54px;
      }
    }
  
    .links{
      display: none;
  
      .nav__links{
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        background: $oslc-dark-blue;
  
        a{
          color: $oslc-dark-blue;
          line-height: 4;
          color:$white;
          text-align: center;
        }
  
        .nav__item--social{
          display: flex;
          align-items: center;
  
          a{
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  
    .menu-button{
  
      span{
        color: $oslc-dark-blue;
      }
    }
  }
  
}

.search-header{
  display: flex;
  align-items: center;
  padding-right: 15px;

  input{
    color:$oslc-dark-blue;
    border-top:none;
    border-left:none;
    border-right: none;
    border-bottom: 1px solid $oslc-dark-blue;
    transition: all .3s ease-out;
    &:focus{
      border-bottom:2px solid $oslc-dark-blue;
      outline: none;
    }
  }
  button{
    border:none;
    background: $white;
    color: $oslc-dark-blue;
  }
}

@media screen and (min-width:1231px){
  header {
    .container {
      .links {
        display: flex;

        .nav__links{
          flex-direction: row;
          justify-content: space-around;
          background: $white;

          a {
            color:$oslc-dark-blue;
            margin: 0 30px 0 0;

            &:last-child {
              margin: 0;
            }
          }

          .nav__item--social{
            &::before{
              content: "";
              width: 2px;
              height: 20px;
              background: $oslc-dark-blue;
            }

            a:first-child{
              margin-left: 20px;
            }
          }
        }
      }
      .menu-button{
        display: none;
      }
    }
  }
}

@media screen and (max-width:768px) {
  header {
    .container {
      height: auto;
      .nav__logo {
        margin: 5px 0;

        img {
          height: 40px;
        }
      }
      .links {
        position: fixed;
        top: 74px;
        left: 0;
        width: 100%;
        height: 100%;
        background: $oslc-dark-blue;
        padding-top: 20px;

        .search-header, .nav__item--social {
          justify-content: center;
        }

        .search-header {
          padding-right: 0;

          input{
            background: transparent;
            border-color: $white;
            color: $white;
            
            &::placeholder {
              color: $white;
            }
          }
          button {
            background: transparent;
            color: $white;
          }
        }
      }

      .menu-button {
        span {
          font-size: 28px;
        }
      }
    }
  }
}


@media screen and (min-width:769px) and (max-width:1230px) {
  .scrolled {
    header {
      .container {
        .links {
          top: 64px;
        }
      }
    }
  }
  header {
    .container {
      height: 88px;
      .nav__logo {

        img {
          height: 54px;
        }
      }
      .links {
        position: fixed;
        top: 115px;
        left: 0;
        width: 100%;
        height: 100%;
        background: $oslc-dark-blue;
        padding-top: 20px;

        .search-header, .nav__item--social {
          justify-content: center;
        }

        .search-header {
          padding-right: 0;

          input{
            background: transparent;
            border-color: $white;
            color: $white;
            
            &::placeholder {
              color: $white;
            }
          }
          button {
            background: transparent;
            color: $white;
          }
        }
      }
    }
  }
}