.hero-container{
  background: linear-gradient(to right, $oslc-light-blue, #3A659E 14.1%, $oslc-dark-blue 26.7%, #495473 35.5%, #C16756 59.5%, $oslc-orange 67.4%, $oslc-orange 70.8%, #C87355 77.5%, #49AE7A);

  .home-texture {
    background-image: url('../img/home-pattern.png');
    background-position: 4px 4px;

    .hero {
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1, p, a {
        color: $white;
      }

      .title {
        font-size: 50px;
        margin: 10px 0;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
      }

      .headline {
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
      }
    }
  }
}