.notification-bar {
  padding: 5px 0;
  text-align: center;
  background-color: #418EEB;
  position: fixed;
  width:100%;
  z-index:99;
  top:0;

  p, a {
    color: #fff;
    margin-bottom: 0;
  }

  a {
    &:hover {
      color: #D96B50;
    }
  }
}
