.section--story {
  display: block;

  .story {
    display: flex;
    flex-direction: column;
    padding: 50px 0 70px;
    border-top: 1px solid #E1E1E1;
    background-color: #FFF;

    &:nth-child(odd){
      background-color: #F6F6F6;
    }

    &:last-child {
      border-bottom: 1px solid #E1E1E1;
    }

    .story--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;

      p {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .story--image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .story--button {
      margin: 50px 0 15px;
      display: flex;
      justify-content: center;
    }
  }
}