<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Save the Date!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?Roboto:400,500" rel="stylesheet">
    <style type="text/css">
      @media screen and (max-width: 620px) {
        div[class="gallery"] {
          display: block !important;
        }
        div[class="item"] {
          width: 100% !important;
        }
      }
    </style>
  </head>
  <body style="font-family: 'Raleway', sans-serif; margin: 0">
    <div class="email-content" style="width: 100%;max-width: 600px; margin: 0 auto;">
      <div class="banner" style="width: 100%; background-image: url(http://oslcfest.org/images/stockholm_sweden-small.jpg); background-size: cover;">
        <div class="banner-wrapper" style="padding: 60px 0; background:rgba(25, 87, 151, 0.7); background: -webkit-gradient(linear, left top, left bottom, from(rgba(14,2,74,0.7)), to(rgba(67,166,232,0.695116))); background: linear-gradient(180deg, rgba(14,2,74,0.7) 0%, rgba(67,166,232,0.695116) 100%); color: white; text-align: center;">
          <h1 style="font-size: 60px; font-weight: normal; margin: 10px 0;">OSLC FEST</h1>
          <h3 style="font-size: 35px;font-weight: normal;margin: 10px 0 15px;">November 5 - 6, 2018</h3>
          <h3 style="font-size: 35px;font-weight: normal;margin: 10px 0 15px;">Stockholm, Sweden</h3>
        </div>
      </div>
      <div class="content" style="width: 100%;">
        <div class="wrapper text-center" style="width: 90%; margin: 10px auto 40px; text-align: center;">
          <h2 style="font-weight: normal;font-size: 30px;margin: 30px 0;">Save the Date!</h2>
          <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed finibus urna. Aenean at felis egestas, luctus augue non, euismod orci.</p>
          <a href="https://axacoair.se/go?Cd7BYJVK" class="button blue" style="
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            margin: 30px 0;
            border: 1px solid #151515;
            text-decoration: none;
            color: #151515 !important;
            background: transparent;
            padding: 15px 25px;
            font-size: 18px;
            cursor: pointer;
            border-color: #1F8FDB;
            background-color: #43A6E8;
            color: white !important;">Register Now!</a>
          <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed finibus urna. Aenean at felis egestas, luctus augue non, euismod orci.</p>
        </div>
        <h2 class="text-center" style="font-weight: normal;font-size: 30px;margin: 30px 0;text-align: center;">Keynote Speakers</h2>
        <div class="gallery" style="width: 100%; margin: 60px 0 0; display: flex;">
          <div class="item" style="
            display: inline-block;
            box-sizing: border-box;
            width: 30.3333%;
            padding: 0 1.5%;
            margin-bottom: 30px;
            text-align: center;">
            <img class="round" src="http://oslcfest.org/images/speakers/john_wiegand.jpg" style="width: 70%;border-radius: 100%;"/>
            <h4 class="item-title" style="margin-bottom: 8px;">John<br/>Wiegand</h4>
            <p style="font-size: 14px;">Distinguished Engineer and Rational Chief Architect at IBM (retired)</p>
          </div>
          <div class="item" style="
            display: inline-block;
            box-sizing: border-box;
            width: 30.3333%;
            padding: 0 1.5%;
            margin-bottom: 30px;
            text-align: center;">
            <img class="round" src="http://oslcfest.org/images/speakers/mike_amundsen.png" style="width: 70%;border-radius: 100%;"/>
            <h4 class="item-title" style="margin-bottom: 8px;">Mike<br/>Amundsen</h4>
            <p style="font-size: 14px;">Lead API Architect, API Academy, CA Technologies</p>
          </div>
          <div class="item" style="
            display: inline-block;
            box-sizing: border-box;
            width: 30.3333%;
            padding: 0 1.5%;
            margin-bottom: 30px;
            text-align: center;">
            <img class="round" src="http://oslcfest.org/images/speakers/soeren_auer.jpg" style="width: 70%;border-radius: 100%;"/>
            <h4 class="item-title" style="margin-bottom: 8px;">Prof. Soeren<br/>Auer</h4>
            <p style="font-size: 14px;">Director of the German National Library of Science and Technology</p>
          </div>
        </div>
        <div class="wrapper text-center" style="width: 90%; margin: 10px auto 40px; text-align: center;">
          <a href="http://oslcfest.org/#program" class="button gray" style="
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            margin: 30px 0;
            border: 1px solid #151515;
            text-decoration: none;
            color: #151515 !important;
            background: transparent;
            padding: 15px 25px;
            font-size: 18px;
            cursor: pointer;">Check out our Prelimiray Agenda</a>
        </div>
      </div>
    </div>
  </body>
</html>