.error-404{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .container-error{
    .error-content{
      h1{font-size: 30px;}
      h2{font-size:20px;}
    }
    .link-wrapper {
      display: flex;
      margin: 30px 0;
      justify-content: center;

      a:first-child {
        margin-right: 15px;
      }
    }
  }
}
