<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "notification-bar.html" . }}
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        <header>

          {{ partial "header.html" . }}

        </header>

        <section class="m-top">
          <div class="sec-ct-header">
            <div class="sec-ct-img">
              <img src="https://unsplash.it/1980/800/?random" alt="img">
            </div>
            <div class="sec-ct-info">
              <div class="container">
                <h1 class="title">{{ .Title }}</h1>
                <div class="sec-ct-header__content">
                  {{ .Params.description }}
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="container">
          
          <div class="contribute__sections">

            <div id="contribute__development" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-code" aria-hidden="true"></i><h2>Development</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.development_paragraph }}</p>
                <p>{{ .Params.development_paragraph2 }}</p>
              </div>
              <div class="contribute__footer">
                <a href="{{ .Params.development_linkurl1}}">{{ .Params.development_link1}}</a>
                <a href="{{ .Params.development_linkurl2}}">{{ .Params.development_link2}}</a>
                <a href="{{ .Params.development_linkurl3}}">{{ .Params.development_link3}}</a>
              </div>
            </div>
            <div id="contribute__evangelize" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-user-plus" aria-hidden="true"></i><h2>Evangelize</h2>
              </div>
              <div class="contribute__content">
                <div class="contribute__img">
                  <img src="{{ .Params.evangelize_img }} " alt="">
                </div>
                <p>{{ .Params.evangelize_description }}</p>
              </div>
            </div>
            <div id="contribute__share" class="contribute__section contribute__share">
              <div class="contribute__title">
                <i class="fa fa-share-alt" aria-hidden="true"></i><h2>Share</h2>
              </div>
              <div class="contribute__content">
                <a href="{{ .Params.share_github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="{{ .Params.share_twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="{{ .Params.share_linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="{{ .Params.share_youteube }}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              </div>
            </div>
            <div id="contribute__user-groups" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-users" aria-hidden="true"></i><h2>User Groups</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.user_groups_paragraph }}</p>
              </div>
              <div class="contribute__footer">
                <a href="{{ .Params.user_groups_linkurl1}}">{{ .Params.user_groups_link1}}</a>
                <a href="{{ .Params.user_groups_linkurl2}}">{{ .Params.user_groups_link2}}</a>
              </div>
            </div>
            <div id="contribute__join" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-comments-o" aria-hidden="true"></i><h2>Join the talk</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.join_paragraph }}</p>
                <div class="contribute__img">
                  <img src="{{ .Params.join_img }}" alt="">
                </div>
              </div>
            </div>
            <div id="contribute__add-content" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i><h2>Add Content</h2>
              </div>
              <div class="contribute__content">
                <div class="contribute__content-add green">
                  <p>{{ .Params.add_content_1 }}</p>
                </div>
                <div class="contribute__content-add blue">
                  <p>{{ .Params.add_content_2 }}</p>
                </div>
                <div class="contribute__content-add red">
                  <p>{{ .Params.add_content_3 }}</p>
                </div>
                <div class="contribute__content-add blueking">
                  <p>{{ .Params.add_content_4 }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer class="footer footer--inverse">
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
