<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        {{ partial "notification-bar.html" . }}
        <header>

          {{ partial "header.html" . }}

        </header>

        <section>
          <div class="sec-ct-header">
            <div class="sec-ct-img">
              <img src="https://unsplash.it/1980/800/?random" alt="img">
            </div>
            <div class="sec-ct-info">
              <div class="container">
                <h1 class="title">Contribute</h1>
                <div class="sec-ct-header__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nemo optio repudiandae excepturi eligendi ea. Eos rerum totam vel id possimus aliquam placeat eligendi, nesciunt, aperiam culpa, magnam quibusdam eum.
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="container sec-ct-second">
          <h1 class="title title-ct">How you can help us </h1>
          <div class="ct-items">
            <div class="ct-item">
              <div class="ct-item__icon">
                <img src="https://unsplash.it/100/100/?random" alt="">
              </div>
              <div class="ct-item__info">
                <h2 class="info-title">Development</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptas nostrum ducimus sed facere cumque. In illum iusto omnis non quo accusantium odio voluptatibus. Consequuntur quod modi, debitis iure nostrum.
                </p>
              </div>
            </div>
            <div class="ct-item">
              <div class="ct-item__icon">
                <img src="https://unsplash.it/100/100/?random" alt="">
              </div>
              <div class="ct-item__info">
                <h2 class="info-title">User Groups</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptas nostrum ducimus sed facere cumque. In illum iusto omnis non quo accusantium odio voluptatibus. Consequuntur quod modi, debitis iure nostrum.
                </p>
              </div>
            </div>
            <div class="ct-item">
              <div class="ct-item__icon">
                <img src="https://unsplash.it/100/100/?random" alt="">
              </div>
              <div class="ct-item__info">
                <h2 class="info-title">Add Content</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptas nostrum ducimus sed facere cumque. In illum iusto omnis non quo accusantium odio voluptatibus. Consequuntur quod modi, debitis iure nostrum.
                </p>
              </div>
            </div>
            <div class="ct-item">
              <div class="ct-item__icon">
                <img src="https://unsplash.it/100/100/?random" alt="">
              </div>
              <div class="ct-item__info">
                <h2 class="info-title">Share</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptas nostrum ducimus sed facere cumque. In illum iusto omnis non quo accusantium odio voluptatibus. Consequuntur quod modi, debitis iure nostrum.
                </p>
              </div>
            </div>
            <div class="ct-item">
              <div class="ct-item__icon">
                <img src="https://unsplash.it/100/100/?random" alt="">
              </div>
              <div class="ct-item__info">
                <h2 class="info-title">Evangelise</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptas nostrum ducimus sed facere cumque. In illum iusto omnis non quo accusantium odio voluptatibus. Consequuntur quod modi, debitis iure nostrum.
                </p>
              </div>
            </div>
            <div class="ct-item">
              <div class="ct-item__icon">
                <img src="https://unsplash.it/100/100/?random" alt="">
              </div>
              <div class="ct-item__info">
                <h2 class="info-title">Join the Conversation</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptas nostrum ducimus sed facere cumque. In illum iusto omnis non quo accusantium odio voluptatibus. Consequuntur quod modi, debitis iure nostrum.
                </p>
              </div>
            </div>
          </div>
        </section>

        <footer style="text-align:center;">
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
