<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page contribute">

        <header>

          {{ partial "header.html" . }}

        </header>

        {{ partial "hero.html" . }}

        <section class="container">
          
          <div class="contribute__sections">
            {{ range .Data.Pages.ByPublishDate }}
            
            {{ if in .Params.tags "share" }}
            <div id="contribute__share" class="contribute__section contribute__share">
              <div class="contribute__title">
                <i class="fa fa-share-alt" aria-hidden="true"></i><h2>{{ .Params.title }}</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.share_intro }}</p>
                <div class="contribue_share-links">
                  <a href="{{ .Params.share_github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <a href="{{ .Params.share_twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="{{ .Params.share_linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="{{ .Params.share_youtube }}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            {{ end }}

            {{ if in .Params.tags "evangelize" }}
            <div id="contribute__evangelize" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-user-plus" aria-hidden="true"></i><h2>{{ .Params.title }}</h2>
              </div>
              <div class="contribute__content">
                <div class="contribute__img">
                  <img data-src="/{{ .Params.evangelize_img }} " alt="">
                </div>
                <p>{{ .Params.evangelize_description }}</p>
                <div class="contribute_links">
                  <a href="{{ .Params.evangelize_linkurl1}}" class="button dark-blue hover--dark_blue">{{ .Params.evangelize_link1}}</a>
                </div>
              </div>
            </div>
            {{ end }}

            {{ if in .Params.tags "development" }}
            <div id="contribute__development" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-code" aria-hidden="true"></i><h2>Development</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.development_paragraph }}</p>
                <p>{{ .Params.development_paragraph2 }}</p>
                <div class="contribute_links">
                  <a href="{{ .Params.development_linkurl1}}" class="button dark-blue hover--dark_blue">{{ .Params.development_link1}}</a>
                  <a href="{{ .Params.development_linkurl2}}" class="button dark-blue hover--dark_blue">{{ .Params.development_link2}}</a>
                </div>
              </div>
            </div>
            {{ end }}

            {{ if in .Params.tags "workinggroup" }}
            <div id="contribute__user-groups" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-users" aria-hidden="true"></i><h2>{{ .Params.title }}</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.working_groups_paragraph }}</p>
                <div class="contribute_links">
                  <a href="{{ .Params.working_groups_moreurl}}" class="button dark-blue hover--dark_blue">{{ .Params.working_groups_more}}</a>
                </div>
              </div>
            </div>
            {{ end }}

            {{ if in .Params.tags "join" }}
            <div id="contribute__join" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-comments-o" aria-hidden="true"></i><h2>{{ .Params.title }}</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.join_paragraph }}</p>
                <div class="contribute_links">
                  <a href="{{ .Params.join_linkurl1}}" class="button dark-blue hover--dark_blue">{{ .Params.join_link1}}</a>
                </div>
              </div>
            </div>
            {{ end }}

            {{ if in .Params.tags "addcontent" }}
            <div id="contribute__add-content" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i><h2>{{ .Params.title }}</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.add_content_intro }}</p>
              </div>
              <div class="contribute__content grid">
                <div class="contribute__content-add green">
                  <p><a class="contribute__content-link" href="{{ .Params.add_link_1 }}">{{ .Params.add_content_1 }}</a></p>
                </div>
                <div class="contribute__content-add blue">
                  <p><a class="contribute__content-link" href="{{ .Params.add_link_2 }}">{{ .Params.add_content_2 }}</a></p>
                </div>
                <div class="contribute__content-add red">
                  <p><a class="contribute__content-link" href="{{ .Params.add_link_3 }}">{{ .Params.add_content_3 }}</a></p>
                </div>
                <div class="contribute__content-add blueking">
                  <p><a class="contribute__content-link" href="{{ .Params.add_link_4 }}">{{ .Params.add_content_4 }}</a></p>
                </div>
              </div>
            </div>
            {{ end }}
            
            {{ if in .Params.tags "specifications" }}
            <div id="contribute__specs" class="contribute__section">
              <div class="contribute__title">
                <i class="fa fa-puzzle-piece" aria-hidden="true"></i><h2>{{ .Params.title }}</h2>
              </div>
              <div class="contribute__content">
                <p>{{ .Params.specs_paragraph }}</p>
                <div class="contribute_links">
                  <a href="{{ .Params.specs_more_url}}" class="button dark-blue hover--dark_blue">{{ .Params.specs_more}}</a>
                </div>
              </div>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </section>
    </div>
    <footer class="footer footer--inverse">
      {{ partial "footer.html" . }}
    </footer>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
