<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

      <header>

        {{ partial "header.html" . }}

      </header>

      {{ partial "hero.html" . }}

      <div class="container">
        <div class="row news--container">
            <div class="posts">
              {{ range .Data.Pages.ByPublishDate.Reverse }}
              <div class="col-sm-8">{{ partial "posts.html" . }}</div>
              {{ end }}
            </div>
            <div class="col-sm-4 sidebar-posts">{{ partial "sidebar-posts.html" . }}</div>
        </div>
      </div>
    </div>
    <footer class="footer footer--inverse">
      {{ partial "footer.html" . }}
    </footer>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
    <script async src="/js/fb.js"></script>
  </body>
</html>
