<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "notification-bar.html" . }}
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        <header>

          {{ partial "header.html" . }}

        </header>

        {{ partial "header-news.html" . }}

        <div class="container">
          <div class="row">
              <div class="posts">
                {{ range .Data.Pages.ByPublishDate }}
                <div class="col-sm-8">{{ partial "posts.html" . }}</div>
                {{ end }}
              </div>
              <div class="col-sm-4">{{ partial "sidebar-posts.html" . }}</div>
          </div>
        </div>

        <footer class="footer footer--inverse">
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
