<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

      <header>

        {{ partial "header.html" . }}

      </header>

      {{ partial "hero.html" . }}

      <main class="main specifications">
        <div class="container">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </main>
    </div>
    <footer class="footer footer--inverse" id="footer">
      {{ partial "footer.html" . }}
    </footer>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}

    <script>
    </script>
  </body>
</html>
