<section class="statistics">
  <div class="container">
    <div class="statistics__container">
      <div class="statistics__item">
        <h2 class="statisctics__title">Members</h2>
        <div class="statistics__num">1056</div>
        <h3 class="statistics__subtitle">In our community</h3>
      </div>
      <div class="statistics__item">
        <h2 class="statisctics__title">Implementations</h2>
        <div class="statistics__num">62</div>
        <h3 class="statistics__subtitle">Of OSLC Solutions</h3>
      </div>
      <div class="statistics__item">
        <h2 class="statisctics__title">Organizations</h2>
        <div class="statistics__num">93</div>
        <h3 class="statistics__subtitle">Involved with us</h3>
      </div>
    </div>
  </div>
</section>

<section class="statistics__info">
  <div class="container">
    <div class="statistics__sec--left">
      <h2 class="section__title">{{ .Params.title1 }}</h2>
      <p class="big__paragraph">
        {{ .Params.des1 }}
      </p>
      <a href="{{ .Site.BaseURL }}about/" class="btn btn-oslc">Learn more</a>
    </div>
    <div class="statistics__sec--right">
      <h2 class="section__title">{{ .Params.titleStat }}</h2>
      <p class="big__paragraph">
        {{ .Params.descStat }}
      </p>
      <a href="{{ .Site.BaseURL }}contribute/" class="btn btn-oslc">Contribute</a>
    </div>
  </div>
</section>
