<section class="homepage--section section--benefits">
  <div class="container container__big">   
    <h2 class="headline">OSLC Benefits</h2>     
    <p class="subtitle">Here's how OSLC can empower you</p>  
    <!-- Benefit #1 -->
    <div class="benefit">
      <h3 class="benefit--title">Open Source</h3>
      <p class="benefit--subtext">
        Use open widely adopted W3C Web standards to connect data such as <br>
        URL, HTTP, and RDF to develop data integration solutions without vendor lock-in
      </p>
      <div class="benefits_grid">
        <div class="benefit--item">
          <i class="fa fa-unlock" aria-hidden="true"></i>
          <h4 class="item--title">No Vendor Lock-In</h4>
          <p class="item--paragraph">Being open source means independability from vendors. Your data in your hands</p>
        </div>
        <div class="benefit--item">
          <i class="fa fa-refresh" aria-hidden="true"></i>
          <h4 class="item--title">Reusability</h4>
          <p class="item--paragraph">Reuse existing OSLC REST APIs supported by major vendor and for especific application or data formats</p>
        </div>
        <div class="benefit--item">
          <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
          <h4 class="item--title">Application Integration</h4>
          <p class="item--paragraph">Integrate your own or existing open sources applications to visualize, search, analyze, edit your data and more!</p>
        </div>
      </div>
    </div>
    <!-- Benefit #2 -->
    <div class="benefit">
      <h3 class="benefit--title">True Data Integration</h3>
      <p class="benefit--subtext">
        Connect data in a distributed way without scalability problems
      </p>
      <div class="benefits_grid">
        <div class="benefit--item">
          <i class="fa fa-server" aria-hidden="true"></i>
          <h4 class="item--title">Source Independent</h4>
          <p class="item--paragraph">Different datasets in different servers can easily be integrated</p>
        </div>
        <div class="benefit--item">
          <i class="fa fa-database" aria-hidden="true"></i>
          <h4 class="item--title">Database Independent</h4>
          <p class="item--paragraph">No matter the data format or database technology. OSLC Adapters are virtually limitless</p>
        </div>
        <div class="benefit--item">
          <i class="fa fa-arrows-h" aria-hidden="true"></i>
          <h4 class="item--title">Linked Data</h4>
          <p class="item--paragraph">Your data integrated as easily as we link html pages. </p>
        </div>
      </div>
    </div>
    <!-- Benefit #3 -->
    <div class="benefit">
      <h3 class="benefit--title">Data Analysis and Visualization</h3>
      <p class="benefit--subtext">
          Understand you data like never before
      </p>
      <div class="benefits_grid">
        <div class="benefit--item">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
          <h4 class="item--title">Data Visualization</h4>
          <p class="item--paragraph">Visualize your data the way you need. Graphs, Tables, Trees, you name it. With an integrated dataset, anything is possible!</p>
        </div>
        <div class="benefit--item">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <h4 class="item--title">Data Analysis</h4>
          <p class="item--paragraph">Analysis your integrated data. Providing you with the power to find answers you need.</p>
        </div>
        <div class="benefit--item">
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <h4 class="item--title">Make Better Decisions</h4>
          <p class="item--paragraph">An integrated dataset means having information and insight never possible with such ease before.</p>
        </div>
      </div>
    </div>
    <div class="info--button">
      <a class="button" href="">Learn More</a>
    </div>
  </div>  
</section>