<section class="homepage--section section--benefits">
  <div class="container container__big">   
    <h2 class="headline">OSLC Benefits</h2>     
    <p class="subtitle">Here's how OSLC can empower you</p>
    <div class="benefits_grid">
      <div class="benefit--item">
        <i class="fa fa-unlock" aria-hidden="true"></i>
        <h4 class="item--title">No Vendor Lock-In</h4>
        <p class="item--paragraph">Free yourself from vendor dependancy. Your data in your hands</p>
      </div>
      <div class="benefit--item">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <h4 class="item--title">Reusability</h4>
        <p class="item--paragraph">Reuse existing OSLC REST APIs supported by major vendor and for especific application or data formats</p>
      </div>
      <div class="benefit--item">
        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
        <h4 class="item--title">Application Integration</h4>
        <p class="item--paragraph">Integrate your own or existing open sources applications to visualize, search, analyze and edit your data, and more!</p>
      </div>
      <div class="benefit--item">
        <i class="fa fa-server" aria-hidden="true"></i>
        <h4 class="item--title">Source Independent</h4>
        <p class="item--paragraph">Integrate databases from different sources</p>
      </div>
      <div class="benefit--item">
        <i class="fa fa-database" aria-hidden="true"></i>
        <h4 class="item--title">Database Independent</h4>
        <p class="item--paragraph">Integrate systems with different technologies and standards</p>
      </div>
      <div class="benefit--item">
        <i class="fa fa-link" aria-hidden="true"></i>
        <h4 class="item--title">Linked Data</h4>
        <p class="item--paragraph">Link your data using widely adopted web stardards</p>
      </div>
      <div class="benefit--item">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <h4 class="item--title">Data Visualization</h4>
        <p class="item--paragraph">Visualize your data the way you need. Graphs, Tables, Trees, you name it</p>
      </div>
      <div class="benefit--item">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <h4 class="item--title">Data Analysis</h4>
        <p class="item--paragraph">Analyze your connected data for insights never before possible</p>
      </div>
      <div class="benefit--item">
        <i class="fa fa-balance-scale" aria-hidden="true"></i>
        <h4 class="item--title">Make Better Decisions</h4>
        <p class="item--paragraph">Take action with information and insight never possible before</p>
      </div>
    </div>
    <div class="info--button">
      <a class="button" href="">Learn More</a>
    </div>
  </div>  
</section>