<section class="homepage--section section--news gray">
  <h2 class="headline">{{ .Params.titleNews }}</h2>
  <div class="container-fluid">
    <div class="news__container">
      {{ range last 4 (where .Data.Pages.ByPublishDate "Type" "=" "news") }}
      <div class="news__item">
        <div class="news__image">
          <h3 class="new__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        </div>
        <div class="new__info">
          <span class="new__date">{{ .Date.Format "Jan 2, 2006" }}</span>
          <div class="new__content">
            {{ .Summary }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="info--button">
    <a class="button" href="/news">See All</a>
  </div>
</section>
