<section class="homepage--section section--supporters white">
  <div class="container container__big">
    <h2 class="headline">{{ .Params.title2 }}</h2>
    <div class="supporters--list">
      <div class="supporter">
        <img data-src="/img/placeholder.png">
      </div>
      <div class="supporter">
        <img data-src="/img/placeholder.png">
      </div>
      <div class="supporter">
        <img data-src="/img/placeholder.png">
      </div>
      <div class="supporter">
        <img data-src="/img/placeholder.png">
      </div>
      <div class="supporter">
        <img data-src="/img/placeholder.png">
      </div>
    </div>
    <p class="intro--paragraph">{{ .Params.supported1 }}</p>
    <div class="info--button">
      <a class="button" href="">See All</a>
    </div>
  </div>
</section>