<section class="content--section white before">
  <div class="container container__big">
    <h2 class="headline">{{ .Params.inspiredBy_title }}</h2>
    <p class="subtitle">{{ .Params.inspiredBy_subtitle }}</p>
    <div class="section--split">
      <div class="column--item">
        <h3 class="column--title">{{ .Params.inspiredBy_before_title }}</h3>
        <div class="item--content">
          <div class="item--image four-fifths">
            <img data-src="/img/{{ .Params.inspiredBy_before_image }}">
          </div>
          <div class="item--text">
            <p>
              {{ .Params.inspiredBy_before_paragraph }}
            </p>
          </div>
        </div>
      </div>
      <div class="column--item">
        <h3 class="column--title">{{ .Params.inspiredBy_after_title }}</h3>
        <div class="item--content">
          <div class="item--image four-fifths">
            <img data-src="/img/{{ .Params.inspiredBy_after_image }}">
          </div>
          <div class="item--text">
            <p>
              {{ .Params.inspiredBy_after_paragraph }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>