<section class="homepage--section dark-blue-gradient">
  <div class="container container__big">
    <h2 class="headline">Understanding OSLC</h2>
    <p class="subtitle">To better illustrate OSLC and what it does we're going to compare it with the web</p>
    <div class="section--split">
      <div class="column--item">
        <h3 class="column--title">The Web of Documents</h3>
        <div class="item--content">
          <div class="item--image one-fifth">
            <img data-src="/img/html-icon.png">
          </div>
          <div class="item--text">
            <p>The web uses documents, standardized to .html, to define web pages</p>
          </div>
        </div>
      </div>
      <div class="column--item">
        <h3 class="column--title">The Web of Data</h3>
        <div class="item--content">
          <div class="item--image one-fifth">
            <img data-src="/img/rdf-icon.png">
          </div>
          <div class="item--text">
            <p>The web uses <i>data</i>, standardized to .RDF, to define data in the web</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>