<section class="content--section dark-blue-gradient section--understand">
  <div class="container container__big">
    <h2 class="headline">Key Concepts of OSLC</h2>
    <p class="subtitle">Difference between Web of documents, as we use today, and Web of data, as enabled by OSLC</p>
    <div class="section--split">
      <!-- ROW 1 -->
      <div class="column--item">
        <h3 class="column--title">The Web of Documents</h3>
        <div class="item--content">
          <div class="item--image one-fifth">
            <img data-src="/img/html-file.svg">
          </div>
          <div class="item--text">
            <p>
              The web uses documents, standardized to .html, to define web pages. 
              Documents in the web use URLs as identifiers 
              <br> <span class="note">(URL represented by <i class="fa fa-link url-icon" aria-hidden="true"></i>)</span>
            </p>
          </div>
        </div>
      </div>
      <div class="column--item">
        <h3 class="column--title">The Web of Data</h3>
        <div class="item--content">
          <div class="item--image one-fifth">
            <img data-src="/img/rdf-file.svg">
          </div>
          <div class="item--text">
            <p>
              The web uses <i>data</i>, standardized to .RDF, to define data in the web. 
              <i>Data</i> in the web use URLs as identifiers 
              <br> <span class="note">(URL represented by <i class="fa fa-link url-icon" aria-hidden="true"></i>)</span>
            </p>
          </div>
        </div>
      </div>
      <!-- ROW 2 -->
      <div class="column--item">
        <div class="item--content">
          <div class="item--image three-fifths mb-four-fifths">
            <img data-src="/img/http-documents.svg">
          </div>
          <div class="item--text">
            <p>Clients can request documents from Servers via a common protocol, HTTP</p>
          </div>
        </div>
      </div>
      <div class="column--item">
        <div class="item--content">
          <div class="item--image three-fifths mb-four-fifths">
            <img data-src="/img/http-data.svg">
          </div>
          <div class="item--text">
            <p>Clients can request <i>data</i> from Servers via a common protocol, HTTP.</p>
          </div>
        </div>
      </div>
      <!-- ROW 3 -->
      <div class="column--item">
        <div class="item--content">
          <div class="item--image nine-tenths">
            <img data-src="/img/link-documents.svg">
          </div>
          <div class="item--text">
            <p>Documents from different sources can link to one another by referencing the other document's URL</p>
          </div>
        </div>
      </div>
      <div class="column--item">
        <div class="item--content">
          <div class="item--image nine-tenths">
            <img data-src="/img/link-data.svg">
          </div>
          <div class="item--text">
            <p><i>Data</i> from different sources can link to one another by referencing the other <i>data's</i> URL</p>
          </div>
        </div>
      </div>
      <!-- ROW 4 -->
      <div class="column--item">
        <div class="item--content">
          <div class="item--image nine-tenths mb-full">
            <img data-src="/img/mashup-documents.svg">
          </div>
          <div class="item--text">
            <p>Clients can use mashup applications to interact with documents in the web (Search, Visualize, Analize, etc)</p>
          </div>
          <div class="item--text mashup_applications">
            <p>Google Search, Mozilla Firefox, Google Analytics</p>
          </div>
        </div>
      </div>
      <div class="column--item">
        <div class="item--content">
          <div class="item--image nine-tenths mb-full">
            <img data-src="/img/mashup-data.svg">
          </div>
          <div class="item--text">
            <p>Clients can use mashup applications to interact with <i>data</i> in the web (Search, Visualize, Analize, etc)</p>
          </div>
          <div class="item--text mashup_applications">
            <p><a href="https://www.ibm.com/us-en/marketplace/application-lifecycle-management">IBM RCLM</a>, <a href="https://www.ibm.com/us-en/marketplace/engineering-analytics">IBM RELM</a>, <a href="https://www.mentor.com/products/sm/context-sdm/">Mentor Graphics Context</a>, <a href="https://github.com/koneksys/KLD">Koneksys KLD</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>