<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
<div id="page" class="page">

    <section class="error-404">
        <div class="container-error">
          <div class="error-number">
            <div class="error-number__item">4</div>
            <div class="error-number__item">
              <img src="{{ .Site.BaseURL }}img/404.png" alt="">
            </div>
            <div class="error-number__item">4</div>
          </div>
          <div class="error-content">
            <h1>Page not found</h1>
            <h2>We are sorry - This page does not exist</h2>
            <a href="/">Go to home</a>
          </div>
        </div>
      </section>    
</div>
<!-- /#all -->

<!-- scripts -->
{{ partial "scripts.html" }}
</body>
</html>
