<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
  <body>
    <div id="page" class="page">
      <section class="error-404">
        <div class="container-error">
          <div class="error-content">
            <h1>Page not found</h1>
            <h2>We are sorry - This page does not exist</h2>
            <p>Click the link bellow to go back to our home page or, if you've used this address before you can try checking our arhive.</p>
            <div class="link-wrapper">
              <a class="button dark-blue hover--light_blue" href="/">Go to home</a>
              <a class="button dark-blue hover--dark_blue archive-link">Archive</a>
            </div>
          </div>
        </div>
      </section>    
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
    <script src="{{ "/js/redirect.js" | absURL}}"></script>
  </body>
</html>
