<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        {{ partial "notification-bar.html" . }}
        <header>

          {{ partial "header.html" . }}

        </header>

        {{ partial "hero.html" . }}

        <section class="section--story">
          <!-- {{ partial "statistics.html" . }} -->
          {{ partial "leadtext.html" . }}

          <!-- {{ partial "case.html" . }} -->
          {{ partial "hypermedia.html" . }}

          <!-- {{ partial "resources.html" . }} -->

          {{ partial "specdomains.html" . }}

          {{ partial "stack.html" . }}

          {{ partial "ecosystem.html" . }}

          {{ partial "solutions.html" . }}

          {{ partial "implementations.html" . }}
        </section>

        {{ partial "news.html" . }}

        <footer class="footer footer--inverse">
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
    <script>
      (function(){
          $('.new__content').each(function(index, element){
              $clamp(element,{clamp: 5, useNativeClamp: false});
          });
      })();

    </script>
  </body>
</html>
