<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">
     
        <header>

          {{ partial "header.html" . }}

        </header>

        {{ partial "hero.html" . }}

        {{ partial "homepage/the-web.html" . }}
        
        {{ partial "homepage/understand.html" . }}

        {{ partial "homepage/benefits.html" . }}

        {{ partial "homepage/why.html" . }}

        {{ partial "homepage/supporters.html" . }}

        {{ partial "homepage/news.html" . }}
    </div>

    <footer class="footer footer--inverse">
      {{ partial "footer.html" . }}
    </footer>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
    <script>
      (function(){
          $('.new__content').each(function(index, element){
              $clamp(element,{clamp: 5, useNativeClamp: false});
          });
      })();

    </script>
  </body>
</html>
