<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body>
    <div id="page" class="page">
      <!-- prettier-ignore -->
      {{ partial "header.html" . }}

      {{ partial "hero.html" . }}

      {{ partial "homepage/digital-thread.html" . }}

      {{ partial "homepage/the-web.html" . }}
      
      {{ partial "homepage/understand.html" . }}

      {{ partial "homepage/benefits.html" . }}

      {{ partial "homepage/specifications.html" . }}

      {{ partial "homepage/supporters.html" . }}

      <!-- {{ partial "homepage/oslcfest.html" . }} -->

      {{ partial "homepage/news.html" . }}
    </div>

    <footer class="footer footer--inverse">
      {{ partial "footer.html" . }}
    </footer>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
