<section class="section--benefits">
  <div class="container container__big">           
    <div class="benefits_grid">
      <div class="benefit">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <h3 class="benefit--title">{{ .Params.benefit1title }}</h3>
        <p class="benefit--paragraph">{{ .Params.benefit1text }}</p>
      </div>
      <div class="benefit">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <h3 class="benefit--title">{{ .Params.benefit2title }}</h3>
        <p class="benefit--paragraph">{{ .Params.benefit2text }}</p>
      </div>
      <div class="benefit">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <h3 class="benefit--title">{{ .Params.benefit3title }}</h3>
        <p class="benefit--paragraph">{{ .Params.benefit3text }}</p>
      </div>
      <div class="benefit">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <h3 class="benefit--title">{{ .Params.benefit4title }}</h3>
        <p class="benefit--paragraph">{{ .Params.benefit4text }}</p>
      </div>
    </div>
  </div>  
</section>