<div class="story">
  <div class="container">
    <div class="story--content">
      <h2 class="section__title">{{ .Params.titleDataSilos }}</h2>
      <p class="big__paragraph">
        The <a href='https://webfoundation.org/about/vision/history-of-the-web/'>Web</a> has broken down barriers to connect documents (e.g. web pages, images) 
        across different servers. Now, the Web is braking broken down barriers to connect data across different databases.
      </p>
      <p class="big__paragraph">
        This initiative is called <a href='https://www.ted.com/talks/tim_berners_lee_on_the_next_web'>Linked Data</a> and was developed by the inventor of the 
        Web Tim Berners Lee. Learn more on breaking down data silos through this <a href='https://hbr.org/2016/12/breaking-down-data-silos'>HBR article.</a>
      </p>
    </div>
    <div class="story--image">
      <img class="smaller" src="{{ .Site.BaseURL }}{{ .Params.image1DataSilos }}" alt="">
    </div>
    <div class="story--content margin-top">
      <p class="big__paragraph">
        {{ .Params.paragraph3DataSilos }}
      </p>
      <p class="big__paragraph">
        {{ .Params.paragraph4DataSilos }}
      </p>
    </div>
    <div id="particles-home" class="particles">
    </div>
    <!-- <div class="story--image">
      <img class="small" src="{{ .Site.BaseURL }}{{ .Params.image2DataSilos }}" alt="">
    </div> -->
  </div>
</div>
