<div class="faq" id="faq">
  <div class="faq__title">
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="questions">
    <div class="question__item">
      <div class="question__title">Question 1</div>
      <div class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, architecto veniam unde eos, excepturi, voluptas a sunt expedita illum aut nisi quaerat. Vero eaque laborum blanditiis, autem cupiditate obcaecati tenetur.</div>
    </div>
    <div class="question__item">
      <div class="question__title">Question 2</div>
      <div class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, iste, quis. Laudantium sunt ullam nemo exercitationem delectus et, voluptatum blanditiis laboriosam voluptates id itaque eligendi totam laborum corporis eveniet explicabo!</div>
    </div>
    <div class="question__item">
      <div class="question__title">Question 3</div>
      <div class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita pariatur sint consequatur voluptates voluptatem modi natus eveniet, commodi laboriosam officiis a eos veniam iste provident dolore culpa maiores illo perferendis.</div>
    </div>
    <div class="question__item">
      <div class="question__title">Question 4</div>
      <div class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ratione ad laborum quibusdam quia, earum architecto voluptas optio nostrum porro. Asperiores odio, veniam earum accusantium praesentium voluptas quas quibusdam ad.</div>
    </div>
  </div>
</div>
