<footer class="footer">
  <nav class="nav">
    <div class="container">
      <div class="links">
        <div class="nav__links">
          <a href="#" class="nav__item">Tems of use</a>
          <a href="#" class="nav__item">Bylaws</a>
          <a href="#" class="nav__item">IP Policy</a>
          <a href="#" class="nav__item">Legal Agreements</a>
          <a href="#" class="nav__item">Privacy Policy</a>

          <div class="nav__item--social">
            <a href="#"><span class="fa fa-github fa-lg"></span></a>
            <a href="#"><span class="fa fa-twitter fa-lg"></span></a>
            <a href="#"><span class="fa fa-linkedin-square fa-lg"></span></a>
            <a href="#"><span class="fa fa-youtube-play fa-lg"></span></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="copyright">
    <p>Copyright &copy; 2017 OSLC. All rights reserved.</p>
  </div>

</footer>
