<nav class="footer-nav">
  <div class="container">
    <div class="row">
      <div class="footer__links">
        <div class="footer__item footer__item--social">
          <a target="_blank" href="https://github.com/oslc"><span class="fa fa-github fa-lg"></span></a>
          <a target="_blank" href="https://twitter.com/oslcNews"><span class="fa fa-twitter fa-lg"></span></a>
          <a target="_blank" href="https://www.linkedin.com/groups/3957829"><span class="fa fa-linkedin-square fa-lg"></span></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCO09R3FGcxbMudDIc3htdKQ"><span class="fa fa-youtube-play fa-lg"></span></a>
        </div>
      </div>
    </div>
    <p class="small-text text-center">
        Open Services for Lifecycle Collaboration © is an <a href="https://oasis-open-projects.org/" target="_blank">OASIS Open Project</a>. All Rights Reserved. OASIS <a href="https://www.oasis-open.org/policies-guidelines/trademark" target="_blank">trademark</a>, <a href="https://www.oasis-open.org/policies-guidelines/ipr" target="_blank">IPR</a>, <a href="https://www.oasis-open.org/policies-guidelines/privacy" target="_blank">Privacy</a>, and other <a href="https://www.oasis-open.org/policies-guidelines" target="_blank">policies</a> apply. <a href="mailto:communications@oasis-open.org" target="_blank">Contact OASIS</a> for details.
      </p>
  </div>
</nav>
