<nav class="footer-nav">
  <div class="container">
    <div class="row">
      <div class="footer__links">
        <a href="#" class="footer__item">Terms of use</a>

        <div class="footer__item footer__item--social">
          <a target="_blank" href="https://github.com/oslc"><span class="fa fa-github fa-lg"></span></a>
          <a target="_blank" href="https://twitter.com/oslcNews"><span class="fa fa-twitter fa-lg"></span></a>
          <a target="_blank" href="https://www.linkedin.com/groups/OSLC-Open-Services-Lifecycle-Collaboration-3957829"><span class="fa fa-linkedin-square fa-lg"></span></a>
          <a target="_blank" href="https://www.youtube.com/user/OpenServicesDotNet"><span class="fa fa-youtube-play fa-lg"></span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="copyright">
        <p>Copyright &copy; 2017 OSLC. All rights reserved.</p>
      </div>
    </div>
  </div>
</nav>
