<div class="governance" id="governance">

  <div class="container">
    <div class="governance__header">
      <div class="row">
        <div class="governance__title">
          <h2>Steering Commitee</h2>
        </div>
        <div class="governance__slogan">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur minus officiis earum. Magni ipsa hic in sint animi vitae nemo eos, harum dolorum, quasi earum repellat at et natus esse.</p>
        </div>
      </div>
    </div>
    <div class="members">
      <div class="row">
        <div class="members__title">
          <h3>Current Members</h3>
        </div>
      </div>
      <div class="row">
        <div class="members__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <img src="" alt="" class="member__picture">
          <h3 class="member__name">John Doe</h3>
          <p class="member__position">Member OSLC</p>
          <p class="member__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nam qui, modi ex officiis temporibus earum placeat aut magni eaque ipsa rerum, molestiae, accusantium eos. Dolores excepturi facere accusamus ut.</p>
        </div>
        <div class="members__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <img src="" alt="" class="member__picture">
          <h3 class="member__name">John Doe</h3>
          <p class="member__position">Member OSLC</p>
          <p class="member__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis odio quod vitae minus id mollitia accusantium et alias, veniam expedita consequuntur aspernatur at recusandae culpa odit eum. Fugiat, cupiditate, alias.</p>
        </div>
        <div class="members__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <img src="" alt="" class="member__picture">
          <h3 class="member__name">John Doe</h3>
          <p class="member__position">Member OSLC</p>
          <p class="member__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere minus ipsum, commodi quae obcaecati blanditiis veniam ut sit maiores. Quia, neque ratione commodi. Excepturi reiciendis eaque, odio, illum officia dolorum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
