<nav class="nav">
  <div class="container container__big">
    <div class="nav__logo">
      <a href="/">
        <img src="{{ .Site.BaseURL }}img/logo.png" alt="Logo">
      </a>
    </div>
    <div class="links">
      <div class="nav__links">
        <!-- <div class="search search-header">
          <input id="search-input-site" type="text" placeholder="Search">
          <button type="button" id="search-button-site">
            <i class="fa fa-search" id="search.button-site"></i>
          </button>
        </div> -->
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}" class="nav__item">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    <div class="menu-button">
      <span class="fa fa-bars fa-2x"></span>
    </div>
  </div>
</nav>
<script>
  // This should not be hard-coded - pull from global baseURL in config.toml
  
</script>