<nav class="nav">
  <div class="container">
    <div class="nav__logo">
      <img src="{{ .Site.BaseURL }}img/logo.png" alt="Logo">
    </div>
    <div class="menu-boton">
      <a href="#"><span class="fa fa-bars fa-2x"></span></a>
    </div>
    <div class="links">
      <div class="nav__links">
        <a href="{{ .Site.BaseURL }}/about/" class="nav__item">About</a>
        <a href="{{ .Site.BaseURL }}/resources/" class="nav__item">Resources</a>
        <a href="{{ .Site.BaseURL }}/contribute/" class="nav__item">Contribute</a>
        <a href="{{ .Site.BaseURL }}/news/" class="nav__item">News</a>

        <div class="nav__item--social">
          <a target="_blank" href="https://github.com/oslc"><span class="fa fa-github fa-lg"></span></a>
          <a target="_blank" href="https://twitter.com/oslcNews"><span class="fa fa-twitter fa-lg"></span></a>
          <a target="_blank" href="https://www.linkedin.com/groups/OSLC-Open-Services-Lifecycle-Collaboration-3957829"><span class="fa fa-linkedin-square fa-lg"></span></a>
          <a target="_blank" href="https://www.youtube.com/user/OpenServicesDotNet"><span class="fa fa-youtube-play fa-lg"></span></a>
        </div>
    </div>
    </div>
  </div>
</nav>
