<div class="mission" id="mission">
  <nav class="mission__links">
    <a href="#mission">Mission</a>
    <a href="#governance">Governance</a>
    <a href="#people">People</a>
    <a href="#organizations">Organizations</a>
    <a href="#faq">FAQ</a>
  </nav>

  <div class="mission__title">Our Mission</div>
  <div class="mission__slogan">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>

  <div class="about">
    <div class="about__title">
      <h2>About</h2>
    </div>
    <div class="about__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos commodi, beatae sunt veniam ab molestias nostrum dignissimos quam deserunt unde fugiat doloremque fuga ipsam, laudantium hic qui vero nulla?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus corrupti aut odio nam earum aliquid possimus illo vel accusamus facere ipsa, commodi ipsum alias, similique, necessitatibus debitis provident eveniet adipisci.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus officiis, consequatur nulla adipisci aut. Doloribus sint reprehenderit facere, quam debitis, suscipit unde atque nobis, hic aut possimus fugit ratione ut.</p>
    </div>
  </div>
</div>
