<div class="mission" id="mission">
  <nav class="mission__links">
    <a href="#mission" class="mission__item">Mission</a>
    <a href="#governance" class="mission__item">Governance</a>
    <a href="#people" class="mission__item">People</a>
    <a href="#organizations" class="mission__item">Organizations</a>
    <a href="#faq" class="mission__item">FAQ</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="mission__title">
        <h1>Our Mission</h1>
      </div>
      <div class="mission__slogan">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>

    <div class="row">
      <div class="about">
        <div class="about__title">
          <h2>About</h2>
        </div>
        <div class="about__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos commodi, beatae sunt veniam ab molestias nostrum dignissimos quam deserunt unde fugiat doloremque fuga ipsam, laudantium hic qui vero nulla?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia distinctio necessitatibus nulla, ipsam laudantium tempore fugit voluptatem ea non. In veniam voluptatum dolore rerum qui assumenda temporibus officia nobis, cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, sed distinctio! Magnam eum, officiis ullam sunt molestias, vitae atque corporis, voluptas quibusdam dolorum ducimus? Deleniti maiores voluptas, neque tempore asperiores.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus corrupti aut odio nam earum aliquid possimus illo vel accusamus facere ipsa, commodi ipsum alias, similique, necessitatibus debitis provident eveniet adipisci.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus officiis, consequatur nulla adipisci aut. Doloribus sint reprehenderit facere, quam debitis, suscipit unde atque nobis, hic aut possimus fugit ratione ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis sunt quidem, sequi velit veritatis cum. Natus blanditiis, nobis voluptatibus, harum laborum deleniti aliquid dicta? Eveniet ipsa dolorem nulla at voluptatum.</p>
        </div>
      </div>
    </div>
  </div>

</div>
