<section class="news">
  <div class="container">
    <h2 class="section__title">Latest News</h2>
  </div>
  <div class="container-fluid">
    <div class="news__container">
      {{ range .Data.Pages.ByPublishDate }}
      <div class="news__item">
        <div class="news__image">
          <h3 class="new__title">New headline</h3>
        </div>
        <div class="new__info">
          <span class="new__date">3 june 2017</span>
          <div class="new__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis sequi
            accusantium vero provident quasi iusto hic voluptat...
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="news__item">
        <div class="news__image">
          <h3 class="new__title">New headline</h3>
        </div>
        <div class="new__info">
          <span class="new__date">3 june 2017</span>
          <div class="new__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis sequi
            accusantium vero provident quasi iusto hic voluptat...
            </p>
          </div>
        </div>
      </div>
      <div class="news__item">
        <div class="news__image">
          <h3 class="new__title">New headline</h3>
        </div>
        <div class="new__info">
          <span class="new__date">3 june 2017</span>
          <div class="new__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis sequi
            accusantium vero provident quasi iusto hic voluptat...
            </p>
          </div>
        </div>
      </div>

      <div class="news__item">
        <div class="news__image">
          <h3 class="new__title">New headline</h3>
        </div>
        <div class="new__info">
          <span class="new__date">3 june 2017</span>
          <div class="new__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis sequi
            accusantium vero provident quasi iusto hic voluptat...
            </p>
          </div>
        </div>
      </div> -->
      {{ end }}
    </div>
  </div>
</section>
