<section class="news">
  <div class="container">
    <h2 class="title">Latest News</h2>
    <div class="news__container">
      <div class="news__item">
        <div class="news__image">
          <img src="https://unsplash.it/600/300?image=996" alt="Image">
        </div>
        <div class="new__info">
          <h3 class="new__title">New headline</h3>
          <span class="new__date">3 june 2017</span>
          <div class="new__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis sequi 
            accusantium vero provident quasi iusto hic voluptat...
            </p>
          </div>
        </div>
      </div>

      <div class="news__item">
        <div class="news__image">
          <img src="https://unsplash.it/600/300?image=996" alt="Image">
        </div>
        <div class="new__info">
          <h3 class="new__title">New headline</h3>
          <span class="new__date">3 june 2017</span>
          <div class="new__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis sequi 
            accusantium vero provident quasi iusto hic voluptat...
            </p>
          </div>
        </div>
      </div>
      <div class="news__item">
        <div class="news__image">
          <img src="https://unsplash.it/600/300?image=996" alt="Image">
        </div>
        
        <div class="new__info">
          <h3 class="new__title">New headline</h3>
          <span class="new__date">3 june 2017</span>
          <div class="new__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis sequi 
            accusantium vero provident quasi iusto hic voluptat...
            </p>
          </div>
        </div>
      </div>

      <div class="news__item">
        <div class="news__image">
          <img src="https://unsplash.it/600/300?image=996" alt="Image">
        </div>
        <div class="new__info">
          <h3 class="new__title">New headline</h3>
          <span class="new__date">3 june 2017</span>
          <div class="new__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis sequi 
            accusantium vero provident quasi iusto hic voluptat...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>