<div class="organizations" id="organizations">

  <div class="carousel">
    <div class="container">
      <div class="carousel__title">
        <h2>What they say about us</h2>
      </div>

      <div class="carousel__content owl-carousel">
        <div class="carousel__item">
          <img src="https://avatars3.githubusercontent.com/u/114116?v=4&s=400" alt="" class="carousel__picture">
          <h3 class="carousel__name">John Doe</h3>
          <p class="carousel__position">CEO Acme Inc</p>
          <div class="carousel__description">
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate soluta eaque iure suscipit numquam mollitia consequatur deleniti nesciunt accusamus, ea beatae tempore alias quo sunt nostrum, dolorum nam id, voluptatum.</blockquote>
          </div>
        </div>
        <div class="carousel__item">
          <img src="https://avatars3.githubusercontent.com/u/114116?v=4&s=400" alt="" class="carousel__picture">
          <h3 class="carousel__name">John Doe</h3>
          <p class="carousel__position">CEO Acme Inc</p>
          <div class="carousel__description">
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quidem ratione tempora dignissimos laudantium officia eum, vel, inventore culpa dolor quas, error nostrum dicta. Aperiam aut voluptas doloribus consequuntur explicabo.</blockquote>
          </div>
        </div>
        <div class="carousel__item">
          <img src="https://avatars3.githubusercontent.com/u/114116?v=4&s=400" alt="" class="carousel__picture">
          <h3 class="carousel__name">John Doe</h3>
          <p class="carousel__position">CEO Acme Inc</p>
          <div class="carousel__description">
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ab excepturi omnis tempore quod asperiores, temporibus aliquid qui iure nobis maxime, quas corporis illo perferendis vero facilis obcaecati natus laboriosam.</blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="brands">
    <div class="container">
      <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
      <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
      <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
      <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
      <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
      <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
      <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
    </div>
  </div>
</div>
