<div class="organizations" id="organizations">

  <div class="carousel">
    <div class="carousel__title">
      <h2>What they say about us</h2>
    </div>

    <div class="carousel__content">
      <div class="carousel__item">
        <img src="" alt="" class="carousel__picture">
        <h3 class="carousel__name"></h3>
        <p class="carousel__position"></p>
        <p class="carousel__description"></p>
      </div>
      <div class="carousel__item">
        <img src="" alt="" class="carousel__picture">
        <h3 class="carousel__name"></h3>
        <p class="carousel__position"></p>
        <p class="carousel__description"></p>
      </div>
      <div class="carousel__item">
        <img src="" alt="" class="carousel__picture">
        <h3 class="carousel__name"></h3>
        <p class="carousel__position"></p>
        <p class="carousel__description"></p>
      </div>
    </div>
  </div>

  <div class="brands">
    <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
    <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
    <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
    <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
    <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
    <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
    <div class="brand__item"><img src="" alt="" class="brand__picture"></div>
  </div>
</div>
