<div class="people" id="people">

  <div class="container">
    <div class="row">
      <div class="people__title">
        <h2>Team</h2>
      </div>
      <div class="people__headline">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="row">
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
      <div class="people__item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="" alt="" class="people__picture">
        <h3 class="people__name">John Doe</h3>
        <p class="people__position">Position</p>
      </div>
    </div>
  </div>
</div>
