<div class="people" id="people">

  <div class="people__title">Team</div>
  <div class="people__headline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>

  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
  <div class="people__item">
    <img src="" alt="" class="people__picture">
    <h3 class="people__name"></h3>
    <p class="people__position"></p>
  </div>
</div>
