<div class="post" title="{{ .Title }}">
  <div class="post__header">
    <div class="post__title">
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </div>
    <div class="post__meta">
      <div class="post__date"> {{ .Date.Format "Jan 2, 2006" }} </div>
      <div class="post__author"><a href="{{ .Params.author_uri}}"> {{ .Params.author }} </a></div>
      <!-- <div class="post__comments">No comments</div> -->
    </div>
  </div>
  <div class="post__content">
    <div class="post__thumbnail">
      <img src="{{.Site.BaseURL}}{{ .Params.banner }}" alt="">
    </div>
    <div class="post__paragraphs">
      <p>
        {{ .Summary }}
      </p>
      <a href=" {{ .Permalink }}" class="post__button">Continue Reading</a>
    </div>
  </div>
  <div class="post__footer">
    <div class="post__time-reading">
      <span>Reading time: {{ .ReadingTime }}</span>
    </div>
    {{ partial "post-share.html" . }}
  </div>
</div>
