<div class="post" title="{{ .Title }}">
  <div class="post__header">
    <div class="post__title">
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </div>
    <div class="post__meta">
      <div class="post__date"> {{ .Date.Format "Jan 2, 2006" }} </div>
      <div class="post__author"><a href="{{ .Params.author_uri}}"> {{ .Params.author }} </a></div>
      <div class="post__comments">No comments</div>
    </div>
  </div>
  <div class="post__content">
    <div class="post__thumbnail">
      <img src="{{.Site.BaseURL}}{{ .Params.banner }}" alt="">
    </div>
    <div class="post__paragraphs">
      {{ .Summary }}
      <a href=" {{ .Permalink }}" class="post__button">Continue Reading</a>
    </div>
  </div>
  <div class="post__footer">
    <div class="post__time-reading">
      <span>Reading time: {{ .ReadingTime }}</span>
    </div>
    <div class="post__share">
      <span>Share</span>
      <!--a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><span class="fa fa-facebook"></span></a-->
      <div class="fb-share-button" data-href="https://oslc.github.io/{{ .URL }}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?{{ .Permalink }}">Share</a></div>
      <a href="https://twitter.com/home?status={{ .Permalink }}" title="Tweet this"><span class="fa fa-twitter"></span></a>
      <a href="https://plus.google.com/share?url={{ .Permalink }}" title="Share on Google+"><span class="fa fa-google-plus"></span></a>
    </div>
  </div>
</div>
