<div class="resources">
  <div class="container-fluid">
    <div class="row">
      <div class="resources-top">
        <h2 class="resource-title">Resources</h2>
        <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ut, eligendi perferendis soluta. Nostrum aspernatur id, inventore, culpa laudantium natus dignissimos magnam.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="resource resource-tutorials">
          <h2 class="resource-title">Tutorials</h2>
          <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iusto.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="resource resource-articles">
          <h2 class="resource-title">Articles</h2>
          <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus est, itaque?</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="resource resource-presentations">
          <h2 class="resource-title">Presentations</h2>
          <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum recusandae, voluptates!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="resource resource-podcasts">
          <h2 class="resource-title">Podcasts</h2>
          <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, nisi.</p>
        </div>
      </div>
    </div>
  </div>
</div>
