<div class="resource--item {{ .Params.category }}" itemtype="{{ .Params.category }}" title="{{ .Title }}">
  {{ if in .Params.tags "article" }}
  <div class="resource--header orange">
    <span class="fa fa-file-text"></span>
    <h3 class="resource--type">Article</h3>
  </div>
  {{ end }}
  {{ if in .Params.tags "podcast" }}
  <div class="resource--header wine">
    <span class="fa fa-podcast"></span>
    <h3 class="resource--type">Podcast</h3>
  </div>
  {{ end }}
  {{ if in .Params.tags "presentation" }}
  <div class="resource--header green">
    <span class="fa fa-line-chart"></span>
    <h3 class="resource--type">Presentation</h3>
  </div>
  {{ end }}
  {{ if in .Params.tags "tool" }}
  <div class="resource--header light-orange">
    <span class="fa fa-cogs"></span>
    <h3 class="resource--type">Tool</h3>
  </div>
  {{ end }}
  {{ if in .Params.tags "tutorial" }}
  <div class="resource--header blue">
    <span class="fa fa-book"></span>
    <h3 class="resource--type">Tutorial</h3>
  </div>
  {{ end }}
  {{ if in .Params.tags "video" }}
  <div class="resource--header dark-blue">
    <span class="fa fa-film"></span>
    <h3 class="resource--type">Video</h3>
  </div>
  {{ end }}
  {{ if in .Params.tags "website" }}
  <div class="resource--header dark-green">
    <span class="fa fa-globe"></span>
    <h3 class="resource--type">Website</h3>
  </div>
  {{ end }}
  {{ if in .Params.tags "whitepaper" }}
  <div class="resource--header gray">
    <span class="fa fa-files-o"></span>
    <h3 class="resource--type">Whitepaper</h3>
  </div>
  {{ end }}

  <div class="resource--content">
    <h3 class="resource--title">{{ .Title }}</h3>
    <div class="resource--info">
      <p>{{ .Summary }}</p>
    </div>
  </div>
  <div class="resource--author-date">
    <span class="author">
      {{ if isset .Params "author" }}
        {{ .Params.author }}
      {{ else }}
        <span>OSLC</span>
      {{ end }}
    </span>
    <span class="author"><i class="fa fa-calendar"></i> {{ .Date.Format "Jan 2, 2006"}}</span>
  </div>
  <div class="resource--buttons">
      {{ if in .Params.tags "external" }}
      <a href=" {{ .Params.external_uri }} " target="_blank" class="button">Open in a new tab</a>
      {{ else }}
      <a href=" {{ .Permalink }} " class="button">Read more</a>
      {{ end }}
  </div>
</div>
