<section>
  <div class="container rs-search">
    <div class="rs-search__item">
      <label for="search">Search</label>
      <input data-search-input id="search-by" type="text">
      <span class="fa fa-search"></span>
    </div>
    <div class="rs-search__item">
      <button id="button-search" class="button purple hover--dark_purple">Search</button>
    </div>
    <div class="rs-search__item">
      <label for="filter">Filter</label>
      <select name="options" id="filter-by">
        <option disabled selected>Select an option</option>
        <option value="all">All</option>
        <option value="article">Article</option>
        <option value="presentation">Presentation</option>
        <option value="tool">Tool</option>
        <option value="tutorial">Tutorial</option>
        <option value="video">Video</option>
        <option value="website">Website</option>
      </select>
      <span class="fa fa-caret-down"></span>
    </div>
  </div>
</section>
