<div class="resources">
  <div class="container-fluid">
    <div class="row">
      <a href="{{ .Site.BaseURL }}resources/" class="resources-top">
          <div class="container">
            <h2 class="section__title white">{{ .Params.resourcesTitle }}</h2>
            <p class="resource-description big__paragraph resources__subtext">
              {{ .Params.resourcesContent}}
            </p>
          </div>
      </a>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="resource resource-tutorials">
          <h2 class="resource-title">Tutorials</h2>
          <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iusto.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="resource resource-articles">
          <h2 class="resource-title">Articles</h2>
          <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus est, itaque?</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="resource resource-presentations">
          <h2 class="resource-title">Presentations</h2>
          <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum recusandae, voluptates!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="resource resource-podcasts">
          <h2 class="resource-title">Podcasts</h2>
          <p class="resource-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, nisi.</p>
        </div>
      </div>
    </div>
  </div>
</div>
