<div class="popular-posts sec-nw__search">
  <h2>Search</h2>
  <div class="search__item">
    <label for="search">Search</label>
    <input name="search" id="search-input" type="text">
    <span class="fa fa-search"></span>
  </div>
  
  <div class="search__item">
    <button id="search-button" class="search__button">Search</button>
  </div>
</div>

<div class="popular-posts sec-nw__search">
  <h2>Categories</h2>
  <div class="search__item">
    <label for="">Filter</label>
    <select name="categories" id="categories-news">
      <option class="categories__option" selected>Select a category</option>
      <option class="categories__option" value="events">Events</option>
      <option class="categories__option" value="announcements">Announcements</option>
      <option class="categories__option" value="updates">Updates</option>
    </select>
    <span class="fa fa-caret-down"></span>
  </div>
</div>



<div class="popular-posts">
  <h2>Popular Posts</h2>
  {{ range first 4 .Data.Pages.ByPublishDate }}
  <a href="{{ .Permalink }}" class="popular-posts__item">
    <div class="item__img">
      <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" alt="">
    </div>
    <div class="item__info">
      <span class="name">{{ .Title }}</span>
      <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
    </div>
  </a>
  {{ end }}
</div>


<div class="popular-networks">
  <h2>Connect with us</h2>
  <div class="networks-container">
    <a target="_blank" href="https://github.com/oscl" class="fa fa-github fa-lg"></a>
    <a target="_blank" href="https://twiter.com/osclNews" class="fa fa-twitter fa-lg"></a>
    <a target="_blank" href="https://www.linkedin.com/groups/OSLC-Open-Services-Lifecycle-Collaboration-3957829" class="fa fa-linkedin-square fa-lg"></a>
    <a target="_blank" href="https://www.youtube.com/c/OpenServicesDotNet" class="fa fa-youtube-play fa-lg"></a>
  </div>
</div>

<!--div class="popular-posts">
  <h2>Recent Posts</h2>
  {{ range first 3 .Data.Pages.ByPublishDate }}
  <a href="{{ .Permalink }}" class="popular-posts__item">
    <div class="item__img">
      <img src="https://unsplash.it/200/150/?random" alt="">
    </div>
    <div class="item__info">
      <span class="name">{{ .Title }}</span>
      <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
    </div>
  </a>
  {{ end }}
</div> -->

<script type="text/javascript">
  var baseurl = "{{.Site.BaseURL}}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.2/lunr.min.js"></script>

<script>
var lunrIndex;
var pagesIndex;
function initLunr() {
  $.getJSON(baseurl + "news/news.json")
    .done(function (index) {
      pagesIndex = index;
      lunrIndex = lunr(function(){
        this.ref('uri');
        this.field('title', {
          boost: 15
        });
        this.field('tags', {
          boost: 10
        });
        this.field("content", {
          boost: 5
        });

        pagesIndex.forEach(function (page) {
          this.add(page);
        }, this);
      })
      lunrIndex.pipeline.remove(lunrIndex.stemmer)
      console.info(lunrIndex);
    })
    .fail(function (jqxhr, textStatus, error) {
      var err = textStatus + ", " + error;
      console.error("Error getting Hugo index flie:", err);
    });
}

function search(query) {
  return lunrIndex.search(query).map(function (result) {
    return pagesIndex.filter(function (page) {
      return page.uri === result.ref;
    })[0];
  });
}

function results(r) {
  var matches = [];

  $('.posts .post').each(function(index, elem){
    $(elem).hide();
    for (var i = 0; i < r.length; i++) {
      if (elem.title === r[i].title) {
        matches.push(elem)
        $(elem).css('display', 'none')
      }
    }
  })

  if (!r.length) {
    $('.posts col-sm-8').prepend('<h1 style="text-align:center;">0 items found</h1>')
  } else if (r.length == 1) {
    $('.posts col-sm-8').prepend('<h1 style="text-align:center;">1 item found</h1>')
  } else {
    $('.posts col-sm-8').prepend('<h1 style="text-align:center;">'+ r.length + ' items found</h1>')
  }
  

  $(matches).each(function(index, e){
    $(e).css('display', 'block');
  })
}

initLunr();

$(document).ready(function(){
  var result;
  var filterBy;
  $('#search-input').keypress(function(e){
    if (e.which === 13) {
      result = search($(this).val());
      console.info('result ', result)
      results(result)
    }
  })

  $('#search-button').click(function(){
    if ($('#search-input').val() !== '') {
      var searchBy = $('#search-input').val();
      result = search(searchBy);
      results(result)
    }
  })

  $('#categories-news').change(function(){
    window.location.href = baseurl + 'news/' + $("#categories-news option:selected").text().toLowerCase();
  });

  $('#search-input').on('change keyup', function(event){
    console.info('event ', event)
    if ($('#search-input').val() === '') {
      $('.posts .post').each(function(index, elem){
        $(elem).css('display', 'block');
      })
    }
  })
});

</script>