<div class="popular-posts">
  <h2>Popular Posts</h2>
  <div class="popular-posts__item">
    <div class="item__img">
      <img src="https://unsplash.it/200/150/?random" alt="">
    </div>
    <div class="item__info">
      <span class="name">Post Headline</span>
      <span class="date">13 June 2017</span>
    </div>
  </div>
  <div class="popular-posts__item">
    <div class="item__img">
      <img src="https://unsplash.it/200/150/?random" alt="">
    </div>
    <div class="item__info">
      <span class="name">Post Headline</span>
      <span class="date">13 June 2017</span>
    </div>
  </div>
  <div class="popular-posts__item">
    <div class="item__img">
      <img src="https://unsplash.it/200/150/?random" alt="">
    </div>
    <div class="item__info">
      <span class="name">Post Headline</span>
      <span class="date">13 June 2017</span>
    </div>
  </div>
</div>
