<div class="popular-posts sec-nw__search">
  <h2>Search & Filters</h2>
  <div class="search__item">
    <label for="">Search</label>
    <input type="text">
    <span class="fa fa-search"></span>
  </div>
  <div class="search__item">
    <label for="">Filter</label>
    <select name="" id="">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
    </select>
    <span class="fa fa-caret-down"></span>
  </div>
  <div class="search__item">
    <button class="search__button">Search</button>
  </div>
</div>


<div class="popular-posts">
  <h2>Popular Posts</h2>
  {{ range $key, $value := .Data.Taxonomy.ByCount }}
  <a href="{{ .Permalink }}" class="popular-posts__item">
    <div class="item__img">
      <img src="https://unsplash.it/200/150/?random" alt="">
    </div>
    <div class="item__info">
      <span class="name">{{ .Title }}</span>
      <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
    </div>
  </a>
  {{ end }}
</div>


<div class="popular-networks">
  <h2>Connect with us</h2>
  <div class="networks-container">
    <a target="_blank" href="https://github.com/oscl" class="fa fa-github fa-lg"></a>
    <a target="_blank" href="https://twiter.com/osclNews" class="fa fa-twitter fa-lg"></a>
    <a target="_blank" href="https://www.linkedin.com/groups/OSLC-Open-Services-Lifecycle-Collaboration-3957829" class="fa fa-linkedin-square fa-lg"></a>
    <a target="_blank" href="https://www.youtube.com/user/OpenServicesDotNet" class="fa fa-youtube-play fa-lg"></a>
  </div>
</div>

<div class="popular-posts">
  <h2>Recent Posts</h2>
  {{ range first 3 .Data.Pages.ByPublishDate }}
  <a href="{{ .Permalink }}" class="popular-posts__item">
    <div class="item__img">
      <img src="https://unsplash.it/200/150/?random" alt="">
    </div>
    <div class="item__info">
      <span class="name">{{ .Title }}</span>
      <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
    </div>
  </a>
  {{ end }}
</div>

<div class="popular-posts">
  <h2>Categories</h2>
  <a href="{{ .Site.BaseURL }}news/events" class="popular-posts__item">
    <span class="item__info">
      Events
    </span>
  </a>
  <a href="{{ .Site.BaseURL}}news/announcements" class="popular-posts__item">
    <span class="item__info">
      Announcements
    </span>
  </a>
  <a href="{{ .Site.BaseURL}}news/updates" class="popular-posts__item">
    <span class="item__info">
      Updates
    </span>
  </a>
</div>