<div class="container m-top">
  <div class="post">
    <div class="post__header">
      <div class="post__title">
        <h1>{{ .Title }}</h1>
      </div>
      <div class="post__meta">
        <div class="post__date"> {{ .Date.Format "Jan 2, 2006" }} </div>
        <div class="post__author"><a href="{{ .Params.author_uri }}"> {{ .Params.author }} </a></div>
        <div class="post__comments">No comments</div>
      </div>
    </div>
    <div class="post__content">
      <div class="post__thumbnail">
        <img src=" {{ .Site.BaseURLl }}{{ .Params.banner }} " alt="">
      </div>
      <div class="post__paragraphs">
        {{ .Content }}
      </div>
    </div>
    <div class="post__footer">
      <div class="post__share">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><span class="fa fa-facebook"></span></a>
        <a href="https://twitter.com/home?status={{ .Permalink }}" title="Tweet this"><span class="fa fa-twitter"></span></a>
        <a href="https://plus.google.com/share?url={{ .Permalink }}" title="Share on Google+"><span class="fa fa-google-plus"></span></a>
      </div>
    </div>
  </div>
  <div class="discourse-comments"></div>
  <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: 'https://discourse.oslc.co/',
                       discourseEmbedUrl: '{{ .Permalink }}' };
  
    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByClassName('post-comments')[0]).appendChild(d);
    })();
  </script>
</div>
