<div class="resources">
    <div class="resources-top">
        <div class="container">
            <div class="">
                <h2 class="section__title white">{{ .Params.title3 }}</h2>
                <p class="resource-description big__paragraph resources__subtext">
                  {{ .Params.corespec1}}
                </p>
            </div>
            <div class="">
                <img src="{{ .Site.BaseURL }}/img/oslc-core-overview.png" alt="">
            </div>
        </div>
    </div>
</div>
