<div class="story">
  <div class="container">
    <div class="story--content">
      <h2 class="section__title">{{ .Params.title4 }}</h2>
      <p class="big__paragraph">
        {{ .Params.corespec }}
      </p>
      <p class="big__paragraph">
        {{ .Params.domainsspec }}
      </p>
    </div>
    <div class="story--image">
      <img data-src="{{ .Site.BaseURL }}img/oslc-domains.png" class="small" alt="">
    </div>
    <div class="story--button">
      <a href="{{ .Site.BaseURL }}specifications/" class="btn btn-oslc">{{ .Params.more }}</a>
    </div>
  </div>
</div>
