<section class="container">
  <div class="statistics__container">
    <div class="statistics__item">
      <h2 class="statisctics__title">Members</h2>
      <div class="statistics__num">1056</div>
      <h3 class="statistics__subtitle">In our community</h3>
    </div>
    <div class="statistics__item">
      <h2 class="statisctics__title">Implementations</h2>
      <div class="statistics__num">62</div>
      <h3 class="statistics__subtitle">Of OSLC Solutions</h3>
    </div>
    <div class="statistics__item">
      <h2 class="statisctics__title">Organizations</h2>
      <div class="statistics__num">93</div>
      <h3 class="statistics__subtitle">Involved with us</h3>
    </div>
  </div>
</section>

<section class="statistics__info">
  <div class="container">
    <div class="statistics__sec--left">
      <h2 class="title">Inspired by the web</h2>
      <p>
        Why reinvent the wheel? We based our specifications on ubiquitous and stablished
        Internet and linked-data standars. We design RESTful services, and any resource
        must be accesible to multiple tools via URL.
      </p>
      <button class="btn btn-oslc">Learn more</button>
    </div>
    <div class="statistics__sec--right">
      <h2 class="title">Be part of our contributors</h2>
      <p>
        We bring togheter experts from a variety of industries to explore common issues in
        software development and operations such as change management, performance
        monitoring, or embedded systems.
      </p>
      <button class="btn btn-oslc">Contribute</button>
    </div>
  </div>
</section>