<div class="rs-small-item" title="{{ .Title }}">
  <div class="sm-header--orange">
    <span class="fa fa-briefcase"></span>
    <h3 class="title-item" style="font-size: 20px !important;">{{ .Title }}</h3>
  </div>
  <!-- <div class="sm-header--blue" style="background-color: #6c0808 !important;">
    <span class="fa fa-podcast"></span>
    <h3 class="title-item">Podcast</h3>
  </div>
  <div class="sm-header--green">
    <span class="fa fa-line-chart"></span>  
    <h3 class="title-item">Presentation</h3>
  </div>
  <div class="sm-header--blue" style="background-color: #E2866F !important;">
    <span class="fa fa-cogs"></span>
    <h3 class="title-item">Tool</h3>
  </div>
  <div class="sm-header--blue">
    <span class="fa fa-book"></span>
    <h3 class="title-item">Tutorial</h3>
  </div>
  <div class="sm-header--blue" style="background-color: #375178 !important;">
    <span class="fa fa-film"></span>
    <h3 class="title-item">Video</h3>
  </div>
  <div class="sm-header--blue" style="background-color: #0a6743 !important;">
    <span class="fa fa-globe"></span>
    <h3 class="title-item">Website</h3>
  </div>
  <div class="sm-header--gray">
    <span class="fa fa-files-o"></span>
    <h3 class="title-item">Whitepaper</h3>
  </div> -->
  <div class="sm-content">
    <!-- <h3 class="title-content"></h3> -->
    <div class="sm-info">
      <p>{{ .Params.description }}</p>
    </div>
    <div class="sm-author-date">
      <span class="author">{{ .Params.author }}</span>
      <span class="author"><i class="fa fa-calendar"></i> {{ .Date.Format "Jan 2, 2006"}}</span>
    </div>
    <div class="sm-buttons">
      <a href=" {{ .Permalink }} ">See more</a>
    </div>
  </div>
</div>
