<div class="workgroup--item" title="{{ .Title }}">
  <h3 class="workgroup--title">{{ .Title }}</h3>
  <div class="workgroup--content">
    <div>
      <div class="workgroup--info">
        <p>
          {{ .Params.Description }}
        </p>
      </div>
      {{ if isset .Params "workgroup_leads"}}
        <div class="workgroup--leads">
          <p>Lead by: {{ .Params.workgroup_leads }}</p>
        </div>
      {{ end }}
    </div>
    <div class="workgroup--buttons">
      {{ if isset .Params "wiki"}}
        <a href=" {{ .Params.wiki }} " class="button dark-blue hover--dark_blue">Wiki</a>
      {{ end }}
    
      {{ if isset .Params "issues"}}
        <a href=" {{ .Params.issues }} " class="button dark-blue hover--dark_blue">Issues</a>
      {{ end }}
    
      {{ if isset .Params "forum"}}
        <a href=" {{ .Params.forum }} " class="button dark-blue hover--dark_blue">Forum</a>
      {{ end }}
        
      {{ if isset .Params "next"}}
        <a href=" {{ .Params.next }} " class="button dark-blue hover--dark_blue">Learn More</a>
      {{ else }}
        <a href=" {{ .Permalink }} " class="button dark-blue hover--dark_blue">Learn More</a>
      {{ end }}
    </div>
  </div>
</div>
