<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

      <header>

        {{ partial "header.html" . }}

      </header>

      {{ partial "header-news.html" . }}

      <main class="main">
        <div class="container">
          <!-- If you want to render the content directly from _index.md you have to use {{ .Content }}-->
          <!-- If you want to use a variable from the FrontMatter section you can do it using this convention {{ .Variable }} -->
          <!-- If is a custom variable you can using {{ .Params.variable }} -->
        </div>
      </main>
    </div>
    <footer class="footer footer--inverse">
      {{ partial "footer.html" . }}
    </footer>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
