<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Call for presentations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@oslcfest">
    <meta name="twitter:title" content="OSLC Fest Nov 2 - 4, 2021">
    <meta name="twitter:description" content="The second conference on OSLC & LinkedData (OSLCFest) is comming, join us!">
    <meta name="twitter:image" content="http://oslcfest.org/images/banner-2021.png">
    <meta property="og:title" content="OSLC Fest Nov 2 - 4, 2021" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://oslcfest.org/" />
    <meta property="og:image" content="http://oslcfest.org/images/banner-2021.png" />
    <meta property="og:image:width" content="1200px" />
    <meta property="og:image:height" content="640px" />
    <meta property="og:description" content="The second conference on OSLC & LinkedData (OSLCFest) is comming, join us!" /> 
  </head>
  <body style="font-family: sans-serif; margin: 0; color: #222">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width: 100%;max-width: 600px; margin: 0 auto;">
      <tbody>
        <tr>
          <td width="750" style="width:518pt;background-color:white;padding:0;">
            <a href="http://oslcfest.org" target="_blank" style="text-decoration: none;">
              <img data-imagetype="External" src="https://oslcfest.org/images/email/email-banner-2021.png" width="100%" alt="OSLC FEST | Stockholm, Sweden | 2-4 November 2021">
            </a>
            <h2 style="font-weight: normal;font-size: 24px;margin: 30px 0; font-weight: bold; text-align: center">Call for presentations</h2>
            <p style="font-size: 16px; line-height:1.5;">The <a href="https://oslcfest.org/" style="font-weight: bold;">OSLCFest 2021</a> will take place virtually on <span style="font-weight: bold;">November 2-4</span>, with 2-hour slots each day starting at 14:00 UTC. This will be the 3rd edition of the OSLCFest following the successful event in <a href="https://oslcfest.org/2018">2018</a> and in <a href="https://oslcfest.org/2020">2020</a>. Each session is expected to last 20 minutes: 15 minutes for the presentation with 5 minutes for Q&A. Exceptions for longer sessions may be granted.
            </p>
            <p style="font-size: 16px; line-height:1.5;">Submissions for presentations are now accepted! We welcome and appreciate your contribution related to, but not limited to, following topics:</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Industrial use cases and experiences using OSLC</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; OSLC in action: demonstration of tools integrations to extend the OSLC ecosystem</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; OSLC as a backbone for digital engineering</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Applying OSLC to new domains</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Tools and automation to implement OSLC connectors</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; New OSLC language SDKs</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Advanced OSLC topics such as global configurations and TRS</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Calls for extending OSLC</p>
            <p style="font-size: 16px; line-height:1.5;">Submissions for presentations consist of an abstract of no more than 300 words.</p>
            <p style="font-size: 16px; line-height:1.5; font-weight: bold;">Key Dates</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Deadline: October 15, 2021</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Acceptance Notification: October 22, 2021</p>
            <p style="font-size: 16px; line-height:1.5;">The submission should include following elements:</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Overview of the topic</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Benefits the audience will take away from the presentation</p>
              <p style="font-size: 16px; line-height:1.5; margin: 4px 0; margin-left: 16px;">&bull; Background on the presenter and his/her qualifications to provide the talk</p>
            <p style="font-size: 16px; line-height:1.5;">Please send your submission to <a href="https://easychair.org/cfp/OSLCFest2021">Easychair</a>.</p>
            <p style="font-size: 16px; line-height:1.5;">This call was originally posted on the <a href="https://forum.open-services.net/t/oslcfest-2021-call-for-presentations-panels-and-tutorials/496">OSLC Forum</a>.</p>
            <p style="font-size: 16px; line-height:1.5;">You can also <a href="https://kth-se.zoom.us/meeting/register/u5UvcemsqzIqH93W9_2H2zebLlOPJoKPT3JH">register for free here</a>.</p>
            <p style="font-size: 16px; line-height:1.5;">We appreciate your participation.</p>
            <p style="font-size: 16px; line-height:1.5;">OSLC Open Project contributors</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>