// Base colors

$white: #FFF;
$black: #3D3D3D;

// Theme Colors;

$oslc-light-blue: #418EEB;
$oslc-dark-blue: #375178;
$oslc-orange: #D96B50;
$oslc-green: #28BD84;

// Other

$gray-background: #EFEFEF;
$light-border: #BFBFBF;
$purple: #4b5ad9;
$dark-purple: #37086C;
$black-blue: #131523;