<section id="call-anchor" class="content--section full connected call">
  <div class="container wrapper wrapper-default">
    <h3 class="section--title">Call for Presentations</h3>
    <p>
      The OSLCFest is the best place to learn first hand about OSLC solutions, as well as related open-source projects and standards. The 3rd <a href="https://oslcfest.org/">OSLCFest 2021</a> will take place virtually on November 2-4, with 2-hour slots each day starting at 14:00 UTC. This free event will be broadcast on YouTube Live. This will be the 3rd edition of the OSLCFest following the successful event <a href="/2018">in 2018</a> and <a href="/2020">in 2020</a>. Each session is expected to last 20 minutes: 15 minutes for the presentation with 5 minutes for Q&A. Exceptions for longer sessions may be granted.
    </p>
    <p>
      Submissions for presentations are now accepted! We welcome and appreciate your contribution related to, but not limited to, following topics:
    </p>
    <ul>
      <li>Industrial use cases and experiences using OSLC</li>
      <li>OSLC in action: demonstration of tools integrations to extend he OSLC ecosystem</li>
      <li>OSLC as a backbone for digital engineering</li>
      <li>Applying OSLC to new domains</li>
      <li>Tools and automation to implement OSLC connectors</li>
      <li>New OSLC language SDKs</li>
      <li>Advanced OSLC topics such as global configurations and TRS</li>
    </ul>
    <p>
      Key Dates:
    </p>
    <ul>
      <li>Submission Deadline: October 15, 2021</li>
      <li>Acceptance Notification: October 22, 2021</li>
    </ul>
    <p>
      Submissions for presentations consist of an abstract of no more than 300 words. The submission should include the following elements:
    </p>
    <ul>
      <li>Provide an overview of the topic</li>
      <li>Provide the benefits the audience will take away from the presentation</li>
      <li>Provide background on the presenter and his/her qualifications to provide the talk </li>
    </ul>
    <p>Please send your submission to <a target="_blank" href="https://easychair.org/cfp/OSLCFest2021">Easychair</a></p>
    <p>This call was originally posted on <a href="https://forum.open-services.net/t/oslcfest-2021-call-for-presentations-panels-and-tutorials/496">OSLC Forum</a></p>
  </div>
</section>