<section id="venue-anchor" class="content--section full connected">
  <div class="container wrapper wrapper-default">
    <h3 class="section--title">Venue</h3>
    <h3 class="section--title text-center">KTH Royal Institute of Technology </br> Stockholm, Sweden</h3>
    <iframe width="100%" height="450" frameborder="0" style="border:0; margin-top: 20px;"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2033.7370998182375!2d18.062929216375757!3d59.35403618166751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d139cf67d65%3A0xf2d8f9efed2b31e4!2sBrinellv%C3%A4gen+85%2C+114+28+Stockholm%2C+Sweden!5e0!3m2!1sen!2sbr!4v1528817372713"></iframe>
    <p class="text-center"><strong>Address:</strong> KTH Industrial Engineering and Management, Brinellvägen 85
    </p>
    <p class="text-center"><strong>Phone Number:</strong> +46 8 790 60 00</p>
    <p class="text-center"><a
        href="https://www.kth.se/polopoly_fs/1.264498!/Menu/general/column-content/attachment/map.pdf">Campus
        Map</a></p>
    <h3>Direction from the Arlanda Airport</h3>
    <p>
      The <a href="http://www.arlandaexpress.com/">Arlanda Express</a> train takes about 20 minutes and brings you
      into Stockholm Central Station.
    </p>
    <p>
      There are taxis available at the airport, but please be aware that some are more reliable than others. Good
      companies include: <a href="http://www.taxi020.se/in-english/">Taxi 020</a> and <a
        href="http://www.taxistockholm.se/en/Taxi-Stockholm-Services/Arlanda/">Taxi Stockholm</a>. If in doubt,
      ask the driver for a price in advance. It should cost between 360 and 650 SEK to get from Arlanda to KTH
      (depending on the time of day).
    </p>
    <h3>Directions and public transportation from Stockholm</h3>
    <p>
      From Central Station, take the redline subway towards Mörby Centrum. Get off at "Tekniska högskolan", then
      either:
    </p>
    <p>
      To walk (approx.10-15 mins): exit to Valhallavägen-Drottning Kristinas väg / Roslagsbanan-Östra station.
      Turn left along Drottning Kristinas väg until the road forks, then turn right (onto Teknikringen) and then
      an immediate left on to Brinellvägen.
      Walk to the end of Brinellvägen until you find Building 68. Turn right down the pathway towards Building 85,
      then left along until you reach the public entrance via Building 83.
    </p>
    <p>
      By bus (approx. 10 mins): exit to Körsbärsväg, walk straight ahead until you reach the bus-stop for number
      61 (towards Ruddamen). Get off at the 2nd stop (Ruddammsparken). Walk straight ahead and then take a right
      over a railway bridge, up through some trees then turn left. Walk towards the glass and red brick building
      and then turn right along until you reach the public entrance via Building 83.
    </p>
    <h3>Directions, by car</h3>
    <p>
      From Valhallavägen, right onto Drottning Kristinas väg, then right onto Teknikringen and thereafter directly
      left onto Brinellvägen. At the end of Brinellvägen lies number 83.
    </p>
    <h3>Hotels near the Department</h3>
    <p>
      <strong><a href="https://www.elite.se/en/hotels/stockholm/hotel-arcadia/" target="_blank">Elite Hotel
          Arcadia</a></strong></br>(within 5 mins walking distance)
    </p>
    <p>
      Address: Körsbärsvägen 1</br>
      Telephone: +46 (0)8 566 215 00</br>
      email: info.arcadia@elite.se</br>
      Tunnelbana Station: Tekniska Högskolan (red line from Stockholm Central), exit via Körsbärsvägen.
    </p>
    <p>
      <strong><a href="http://www.hotelstureparken.se" target="_blank">Stureparken Hotel</a></strong></br>(one
      tube stop away from KTH on the red line)
    </p>
    <p>
      Address: Sturegatan 58</br>
      Telephone: +46 8-662 72 30</br>
      Email: info@hotelstureparken.se</br>
      Tunnelbana Station Stadion (red line from Stockholm Central), exit via Vallhallavägen
    </p>
  </div>
</section>
