<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        <header>

          {{ partial "header.html" . }}

        </header>

        <section>
          <div class="sec-rs-header">
            <div class="sec-rs-img">
              <img src="https://unsplash.it/1980/800/?random" alt="img">
            </div>
            <div class="sec-rs-info">
              <div class="container">
                <h1 class="title">Resources</h1>
                <div class="sec-rs-header__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nemo optio repudiandae excepturi eligendi ea. Eos rerum totam vel id possimus aliquam placeat eligendi, nesciunt, aperiam culpa, magnam quibusdam eum.
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container rs-search">
            <div class="rs-search__item">
              <label for="search">Search</label>
              <input id="search" type="text">
              <span class="fa fa-search"></span>
            </div>
            <div class="rs-search__item">
              <label for="filter">Filter</label>
              <select name="" id="filter">
                <option value=""></option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </select>
              <span class="fa fa-caret-down"></span>
            </div>
            <div class="rs-search__item">
              <button class="btn-purple">search</button>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="rs-long-item">
              <img src="https://unsplash.it/1130/200/?random" alt="">
              <div class="rs-long-item__content">
                <div class="content__info">
                  <h1 class="title">Integrate Products with OSCL</h1>
                  <div class="content__info__author">
                    <div class="author">by <span>Brian King</span></div>
                    <div class="date"><span class="fa fa-calendar"></span> 2014 August 4</div>
                  </div>
                </div>
              </div>
              <div class="content__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ipsum, rem sequi voluptatem praesentium aliquid accusamus dolores commodi cumque? Officia harum, soluta culpa similique placeat reiciendis officiis voluptatem, repellat magnam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit est voluptatum, laboriosam quia at optio, repellendus dolorum iste quos vel cupiditate ut, tempore ex debitis iusto illum harum? Culpa, quae.
              </div>
              <div class="content__options">
                <div class="buttons">
                  <a class="button-link" href="#">Details</a>
                  <a class="button-link" href="#">Download</a>
                </div>
                <div class="other">
                  <a class="link" href="#"><span class="fa fa-book"></span> Tutorial</a>
                </div>
              </div>
            </div>

            <div class="container-small-items">
              <div class="rs-small-item">
                <div class="sm-header--blue">
                  <span class="fa fa-book"></span>
                  <h3>Tutorial</h3>
                </div>
                <div class="sm-content">
                  <h3>OSCL Prime</h3>
                  <div class="sm-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum architecto incidunt at ex magnam aliquam, eaque ut, facere quo voluptatum laudantium hic! Qui sunt ratione molestiae, dolorum incidunt cumque veniam?
                  </div>
                  <div class="sm-author-date">
                    <span class="author">Brian King</span>
                    <span class="author"><i class="fa fa-calendar"></i> 2016 June 13</span>
                  </div>
                </div>
              </div>
              <div class="rs-small-item">
                <div class="sm-header--green">
                  <span class="fa fa-book"></span>
                  <h3>Tutorial</h3>
                </div>
                <div class="sm-content">
                  <h3>OSCL Prime</h3>
                  <div class="sm-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum architecto incidunt at ex magnam aliquam, eaque ut, facere quo voluptatum laudantium hic! Qui sunt ratione molestiae, dolorum incidunt cumque veniam?
                  </div>
                  <div class="sm-author-date">
                    <span class="author">Brian King</span>
                    <span class="author"><i class="fa fa-calendar"></i> 2016 June 13</span>
                  </div>
                </div>
              </div>
              <div class="rs-small-item">
                <div class="sm-header--orange">
                  <span class="fa fa-book"></span>
                  <h3>Tutorial</h3>
                </div>
                <div class="sm-content">
                  <h3>OSCL Prime</h3>
                  <div class="sm-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum architecto incidunt at ex magnam aliquam, eaque ut, facere quo voluptatum laudantium hic! Qui sunt ratione molestiae, dolorum incidunt cumque veniam?
                  </div>
                  <div class="sm-author-date">
                    <span class="author">Brian King</span>
                    <span class="author"><i class="fa fa-calendar"></i> 2016 June 13</span>
                  </div>
                </div>
              </div>
              <div class="rs-small-item">
                <div class="sm-header--gray">
                  <span class="fa fa-book"></span>
                  <h3>Tutorial</h3>
                </div>
                <div class="sm-content">
                  <h3>OSCL Prime</h3>
                  <div class="sm-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum architecto incidunt at ex magnam aliquam, eaque ut, facere quo voluptatum laudantium hic! Qui sunt ratione molestiae, dolorum incidunt cumque veniam?
                  </div>
                  <div class="sm-author-date">
                    <span class="author">Brian King</span>
                    <span class="author"><i class="fa fa-calendar"></i> 2016 June 13</span>
                  </div>
                </div>
              </div>
              <div class="rs-small-item">
                <div class="sm-header--blue">
                  <span class="fa fa-book"></span>
                  <h3>Tutorial</h3>
                </div>
                <div class="sm-content">
                  <h3>OSCL Prime</h3>
                  <div class="sm-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum architecto incidunt at ex magnam aliquam, eaque ut, facere quo voluptatum laudantium hic! Qui sunt ratione molestiae, dolorum incidunt cumque veniam?
                  </div>
                  <div class="sm-author-date">
                    <span class="author">Brian King</span>
                    <span class="author"><i class="fa fa-calendar"></i> 2016 June 13</span>
                  </div>
                </div>
              </div>
              <div class="rs-small-item">
                <div class="sm-header--blue">
                  <span class="fa fa-book"></span>
                  <h3>Tutorial</h3>
                </div>
                <div class="sm-content">
                  <h3>OSCL Prime</h3>
                  <div class="sm-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum architecto incidunt at ex magnam aliquam, eaque ut, facere quo voluptatum laudantium hic! Qui sunt ratione molestiae, dolorum incidunt cumque veniam?
                  </div>
                  <div class="sm-author-date">
                    <span class="author">Brian King</span>
                    <span class="author"><i class="fa fa-calendar"></i> 2016 June 13</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer>
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
