<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "notification-bar.html" . }}
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        <header>

          {{ partial "header.html" . }}

        </header>

        <section class="m-top">
          <div class="sec-rs-header">
            <div class="sec-rs-info">
              <div class="container">
                <h1 class="section__title white"> {{ .Title }} </h1>
                <div class="sec-rs-header__content">
                  <div class="big__paragraph">
                    {{ .Content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        {{ partial "search.html" . }}

        <section>
          <div class="container">
            {{ range first 1 .Data.Pages.ByPublishDate }}
            <div class="rs-long-item">
              <img src="https://unsplash.it/1130/200/?random" alt="">
              <div class="rs-long-item__content">
                <div class="content__info">
                  <h1 class="title"> {{ .Title }} </h1>
                  <div class="content__info__author">
                    <div class="author">by <span> {{ .Params.author }} </span></div>
                    <div class="date"><span class="fa fa-calendar"></span> {{ .Date.Format "Jan 2, 2006" }} </div>
                  </div>
                </div>
              </div>
              <div class="content__description">
                {{ .Content }}
              </div>
              <div class="content__options">
                <div class="buttons">
                  <a class="button-link" href="#">Details</a>
                  <a class="button-link" href="#">Download</a>
                </div>
                <div class="other">
                  <a class="link" href="#">
                    {{ if in .Params.tags "article" }}
                      <span class="fa fa-file-text"></span> Article
                    {{ end }}
                    {{ if in .Params.tags "podcast" }}
                      <span class="fa fa-podcast"></span> Podcast
                    {{ end }}
                    {{ if in .Params.tags "presentation" }}
                      <span class="fa fa-line-chart"> Presentation
                    {{ end }}
                    {{ if in .Params.tags "tool" }}
                      <span class="fa fa-cogs"></span> Tool
                    {{ end }}
                    {{ if in .Params.tags "tutorial" }}
                    <span class="fa fa-book"></span> Tutorial
                    {{ end }}
                    {{ if in .Params.tags "video" }}
                    <span class="fa fa-film"></span> Video
                    {{ end }}
                    {{ if in .Params.tags "website" }}
                    <span class="fa fa-globe"></span> Website
                    {{ end }}
                    {{ if in .Params.tags "whitepaper" }}
                    <span class="fa fa-files-o"></span> Whitepaper
                    {{ end }}

                  </a>
                </div>
              </div>
            </div>
            {{ end }}

            <div class="container-small-items">
              {{ range .Paginator.Pages.ByPublishDate }}
              {{ partial "resource-single.html" . }}
              {{ end }}
            </div>

            <div class="paginator">
              {{ template "_internal/pagination.html" . }}
            </div>

          </div>
        </section>

        <footer class="footer footer--inverse">
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
