<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "notification-bar.html" . }}
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        <header>

          {{ partial "header.html" . }}

        </header>

        <main class="resource-post">
          {{ if in .Params.tags "tutorial" }}
          <aside class="sidebar-post">
            <div class="search">
              <input id="search-tutorial" type="text" placeholder="Search this tutorial">
            </div>
            <div class="table-of-contents">
                {{ .TableOfContents }}
            </div>
          </aside>  
          {{ end }}
          <section class="post">
            <div class="post__header">
              <div class="post__title">
                <h1>{{ .Title }}</h1>
              </div>
              <div class="post__meta">
                <div class="post__date"> {{ .Date.Format "Jan 2, 2006" }} </div>
                <div class="post__author"><a href="#"> {{ .Params.author }} </a></div>
                <div class="post__comments">No comments</div>
              </div>
            </div>
            <div class="post__content">
              <div class="post__thumbnail">
                <img src="https://unsplash.it/1920/400?random" alt="">
              </div>
              <div class="post__paragraphs">
                {{ .Content }}
              </div>
            </div>
            <div class="post__footer">
              <div class="post__share">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><span class="fa fa-facebook"></span></a>
                <a href="https://twitter.com/home?status={{ .Permalink }}" title="Tweet this"><span class="fa fa-twitter"></span></a>
                <a href="https://plus.google.com/share?url={{ .Permalink }}" title="Share on Google+"><span class="fa fa-google-plus"></span></a>
              </div>
            </div>
          </section>  
        </main>

        <footer class="footer footer--inverse">
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
    <script>
      $(document).ready(function(){

        // var element = $('.post__paragraphs');

        // var childrens = element[0].children;

        // var content = ""

        // for (var i = 0; i < childrens.length; i++) {
        //   content = content + " " +  childrens[i].innerText;
        // }

        // console.info(content);

        $('#search-tutorial').keyup(function(){
          search = $('#search-tutorial').val();
        })

        $('nav > ul > li > a').click(function(event){
          event.preventDefault();
            
          $(this).siblings('ul').css('display', 'block');
        })
      })
    </script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>


