<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        <header>

          {{ partial "header.html" . }}

        </header>

        {{ partial "hero.html" . }}

        <!-- {{ partial "resources-search.html" . }} -->

        <section class="m-top--small">
          <div class="container">

            <div class="container-small-items">
              {{ range .Paginator.Pages.ByPublishDate }}
              {{ partial "workgroup-single.html" . }}
              {{ end }}
            </div>

            <div class="paginator" style="display: none;">
              {{ template "_internal/pagination.html" . }}
            </div>

          </div>
        </section>
    </div>

    <footer class="footer footer--inverse">
      {{ partial "footer.html" . }}
    </footer>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}

    <!-- <script>
      var el = document.querySelector('.container-small-items');

      var infScroll = new InfiniteScroll(el, {
          path : '.pagination a[aria-label="Next"]',
          append : '.rs-small-item',
          history: false
      });

      $(document).ready(function(){
        $('.rs-small-item .sm-info').each(function(i, e){
              var summary = $(e).text().slice(0, 220);
             $(e).text('' + summary + '...');
        })
      })

    </script> -->
  </body>
</html>
