<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        <header>

          {{ partial "header.html" . }}

        </header>

        <div class="sections">

          {{ partial "mission.html " . }}

          {{ partial "governance.html" . }}

          {{ partial "people.html" . }}

          {{ partial "organizations.html" . }}

          {{ partial "faq.html" . }}
        </div>

        <footer>
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
  </body>
</html>
