<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page about_page">

      {{ partial "header.html" . }}

      {{ partial "hero.html" . }}

      <nav class="sub_nav">
        <a href="#mission" class="sub_nav--item">Mission</a>
        <a href="#participation" class="sub_nav--item">Participation</a>
        <a href="#governance" class="sub_nav--item">Governance</a>
        <a href="#sponsors" class="sub_nav--item">Sponsors</a>
        <a href="#faq" class="sub_nav--item">FAQ</a>
      </nav>

      <section id="mission-anchor" class="content--section mission">
        <div class="container">
          <h2 class="headline">{{ .Params.mission_title }}</h2>
          <p class="subtitle">{{ .Params.mission_subtitle }}</p>

          {{ .Params.mission_body | markdownify }}
      </section>

      <section id="participation-anchor" class="content--section participation">
        <div class="container">
          <h2 class="headline">{{ .Params.participation_title }}</h2>
          <p class="subtitle">{{ .Params.participation_subtitle }}</p>

          {{ .Params.participation_body | markdownify }}
        </div>
      </section>


      <section id="leadership-anchor" class="content--section leadership">
        <div class="container">
          <h2 class="headline">{{ .Params.leadership_title }}</h2>
          <p class="subtitle">{{ .Params.leadership_subtitle }}</p>

          {{ .Params.leadership_body | markdownify }}
        </div>
      </section>


      <section id="sponsors-anchor" class="content--section sponsors section--supporters">
        <div class="container">
          <h2 class="headline">{{ .Params.sponsors_title }}</h2>
          <p>{{ .Params.sponsors_subtitle }}</p>
          {{ .Params.sponsors_body | markdownify }}


          <div class="sponsors--wrap">
            <div class="supporters--list">
              {{range $index, $sponsor := .Params.sponsors_img_list }}
                {{ $size := index $.Params.sponsors_img_size $index}}
                <div class="supporter">
                  <img data-src="/img/logos/{{ $sponsor }}" class="{{ $size }}">
                </div>
              {{ end }}
            </div>
          </div>
          <div class="sponsors--wrap">
            <h3 class="text-center">Others:</h3>
            <div class="row--list">
              <p>
              {{range $sponsor := .Params.sponsors_others_list }}
                  <span>{{ $sponsor }}, </span>
              {{ end }}
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="history-anchor" class="content--section history">
        <div class="container">
          <h2 class="headline">{{ .Params.history_title }}</h2>
          <p class="subtitle">{{ .Params.history_subtitle }}</p>

          {{ .Params.history_body | markdownify }}
        </div>
      </section>

      <section id="faq-anchor" class="content--section faq">
        <div class="container">
          <h2 class="headline">{{ .Params.faq_title }}</h2>
          <p class="subtitle">{{ .Params.faq_subtitle }}</p>
          <div class="faq">
            {{range $index, $question := .Params.faq_questions }}
              {{ $answer := index $.Params.faq_answers $index }}
              <div class="faq__item">
                <div class="question__title">
                  <a class="collapse-toggle" data-target="#answer{{ $index }}">{{ $question }}</a>
                </div>
                <div id="answer{{ $index }}" class="answer">
                  <p>{{ $answer | markdownify }}</p>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </section>
    </div>
    <footer class="footer footer--inverse" id="footer">
      {{ partial "footer.html" . }}
    </footer>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}
    <script src="/js/collapse.js"></script>
    <script src="/js/subnav.js"></script>
  </body>
</html>
