<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "notification-bar.html" . }}
  {{ partial "head.html" . }}

  <body>

    <div id="page" class="page">

        <header>

          {{ partial "header.html" . }}

        </header>

        <div class="sections m-top">

          <div class="mission" id="mission">
            <nav class="mission__links">
              <a href="#mission" class="mission__item">Mission</a>
              <a href="#governance" class="mission__item">Governance</a>
              <a href="#people" class="mission__item">People</a>
              <a href="#organizations" class="mission__item">Organizations</a>
              <a href="#faq" class="mission__item">FAQ</a>
            </nav>

            <div class="mission" id="mission">
              <div class="container container-flex">
                <div class="mission__title">
                  <h1>Our Mission</h1>
                </div>
                <div class="mission__slogan">
                  <p> {{ .Params.mission_slogan }} </p>
                </div>
              </div>
              <div class="container cotainer-flex">
                {{ range .Data.Pages.ByPublishDate }}
                  {{ if in .Params.tags "mission" }}
                    {{ partial "mission.html" . }}
                  {{ end }}
                {{ end }}
              </div>
            </div>
          </div>

          <div class="governance" id="governance">
            <div class="container container-flex">
              <div class="governance__header">
                <div class="governance__title">
                  <h2>Governance</h2>
                </div>
                <div class="governance__slogan">
                  {{ .Params.governance_slogan }}
                </div>
              </div>
            </div>

            <div class="container container-flex">
              <div class="members">
                <div class="members__title">
                  <h3>Current Members</h3>
                </div>
                <div>
                  {{ range .Data.Pages.ByPublishDate }}
                    {{ if in .Params.tags "governance"}}
                      {{ partial "governance.html" . }}
                    {{ end}}
                  {{ end }}
                </div>
              </div>
            </div>
          </div>

          <div class="people" id="people">
            <div class="container container-flex">
              <div class="people__title">
                <h2>Team</h2>
              </div>
              <div class="people__headline">
                {{ .Params.people_headline }}
              </div>
            </div>
            <div class="container container-flex">
              {{ range .Data.Pages.ByPublishDate }}
                {{ if in .Params.tags "people"}}
                  {{ partial "people.html" . }}
                {{ end }}
              {{ end }}
            </div>
          </div>

          <div class="organizations" id="organizations">
            <div class="carousel">
              <div class="container container-flex">
                <div class="carousel__title">
                  <h2>What they say about us</h2>
                </div>

                <div class="carousel__content owl-carousel">
                  {{ range .Data.Pages.ByPublishDate }}
                    {{ if in .Params.tags "organization"}}
                      {{ partial "organization.html" . }}
                    {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
          </div>

          <div class="brands">
            <div class="container container-flex">
              <div class="brands__title">
                <h2>Trusted by</h2>
              </div>
              <div class="container container-flex">
                <div class="brands__row">
                  {{ range .Data.Pages.ByPublishDate }}
                    {{ if in .Params.tags "brand" }}
                      {{ partial "brand.html" . }}
                    {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
          </div>

          <div class="faq" id="faq">
            <div class="container container-flex">
              <div class="faq__title">
                <h2>Frequently Asked Questions</h2>
              </div>
            </div>
            <div class="container container-flex">
              <div class="questions">
                {{ range .Data.Pages.ByPublishDate }}
                  {{ if in .Params.tags "faq" }}
                    {{ partial "faq.html" . }}
                  {{ end }}
                {{ end }}
              </div>
            </div>
          </div>

        </div>

        <footer class="footer footer--inverse" id="footer">
          {{ partial "footer.html" . }}
        </footer>
    </div>
    <!-- /#all -->

    <!-- scripts -->
    {{ partial "scripts.html" }}

    <script>
      $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 10,
          nav: true,
          items: 1,
          navText: ["<i class='icon-chevron-left icon-white'><</i>", "<i class='icon-chevron-right icon-white'>></i>"],
          navClass: ['owl-prev', 'owl-next']
        });
      })
    </script>
  </body>
</html>
