<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "notification-bar.html" . }}
{{ partial "head.html" . }}

<body>

<div id="single" class="single">

  <header>
    {{ partial "header.html" . }}
  </header>

  <main class="single-about">
    <div class="mission">
      {{ if in .Params.categories "why" }}
        <nav class="mission__links why-active">
      {{ end }}
      {{ if in .Params.categories "mission" }}
        <nav class="mission__links mission-active">
      {{ end }}
      {{ if in .Params.categories "people" }}
        <nav class="mission__links people-active">
      {{ end }}
      {{ if in .Params.categories "faq" }}
        <nav class="mission__links faq-active">
      {{ end }}
        <a href="{{ .Site.BaseURL}}about/why" class="mission__item why--item">Why OSLC?</a>
        <a href="{{ .Site.BaseURL}}about/mission" class="mission__item mission--item">Mission</a>
        <a href="{{ .Site.BaseURL}}about/people" class="mission__item people--item">People</a>
        <a href="{{ .Site.BaseURL}}about/faq" class="mission__item faq--item">FAQ</a>
      </nav>
    </div>

    <div class="sec-header" style="background-image: url('{{ .Params.banner }}');">
      <div class="sec-info" style="background: linear-gradient({{ .Params.gradient }});">
        <div class="container">
          <h1 class="section__title white"> {{ .Title }} </h1>
          <div class="sec-header__content">
            <div class="big__paragraph">
              <p>{{ .Params.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ if in .Params.categories "why" }}
      <div class="container container-flex single-why">
        {{ .Content }}  
      </div>
    {{ end }}
    {{ if in .Params.categories "mission" }}
      <div class="container container-flex single-mission">
        {{ .Content }}  
      </div>
    {{ end }}
    {{ if in .Params.categories "people" }}
      <div class="container container-flex single-people">
        {{ .Content }}
      </div>
      <div class="container container-flex single-people">
        {{ range (where .Site.Pages.ByPublishDate "Type" "=" "about") }}
          {{ if in .Params.tags "people"}}
            {{ partial "people.html" . }}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
    {{ if in .Params.categories "faq" }}
      <div class="container container-flex single-faq">
        {{ .Content }}
      </div>
      <div class="container container-flex single-faq">
        {{ range (where .Site.Pages.ByPublishDate "Type" "=" "about") }}
          {{ if in .Params.tags "faq" }}
            {{ partial "faq.html" . }}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </main>

  <footer class="footer footer--inverse" id="footer">
      {{ partial "footer.html" . }}
  </footer>
</div>
<!-- /#all -->

<!-- scripts -->
{{ partial "scripts.html" }}

<script>
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      items: 1,
      navText: ["<i class='icon-chevron-left icon-white'><</i>", "<i class='icon-chevron-right icon-white'>></i>"],
      navClass: ['owl-prev', 'owl-next']
    });
  })
</script>

</body>
</html>
