$main-black: #151515;
$main-white: #FFF;

$main: #1B1627;
$alt: #43A6E8;

$oslc-light-blue: #418EEB;
$oslc-dark-blue: #375178;
$oslc-orange: #D96B50;
$oslc-green: #28BD84;

$program-light-gray: #f5f5f5;
