name: Deploy

on:
  push:
    branches: [master, main, master]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    steps:
      # - uses: GitHubSecurityLab/actions-permissions/monitor@v1
      #   with:
      #     config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod
          persist-credentials: true
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # 3.0.0
        with:
          hugo-version: "0.148.2"
          # extended: true
      - name: Set up SSH
        uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd #v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Hugo Deploy
        run: |
          git config --global user.email "webmaster@open-services.net"
          git config --global user.name "GH Deploy Action"
          # just a test
          ssh -o "StrictHostKeyChecking=no" -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_PRINCIPAL }} 'cd /var/www/oslc.co ; git log --name-status HEAD^..HEAD'
          ./deploy.sh ${{ secrets.SSH_PRINCIPAL }} ${{ secrets.SSH_PORT }}
