name: CI

on:
  push:
    branches: [master, main, trunk]
  pull_request:
    branches: [master, main, trunk]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - uses: GitHubSecurityLab/actions-permissions/monitor@v1
      #   with:
      #     config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod
          persist-credentials: false
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # 3.0.0
        with:
          hugo-version: "0.148.2"
          # extended: true
      - name: Build
        run: hugo -b http://open-services.net/ -t oslc
